body {
  color: #454545;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden !important;
  font-size: 15px;
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  min-height: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.fa {
  display: inline-block; }

i.fa.fa-bars {
  color: #ffffff;
  font-size: 1.8rem; }
  i.fa.fa-bars:hover {
    color: #74a4d6; }

i.fa.fa-globe {
  color: #234b77;
  margin-right: 0.5em;
  font-size: 1.8rem; }

i.fa.fa-search {
  color: #8ba8c7;
  font-size: 16px;
  margin-top: 2px; }
  i.fa.fa-search:hover {
    color: #3c5b7d; }

.glyphicon.glyphicon-chevron-right {
  margin-right: 5px; }

.collapsed {
  display: none; }

.collapse-icon {
  cursor: pointer;
  padding: 3px;
  font-size: 0.7em;
  line-height: 160%;
  margin-left: 1em; }
  .collapse-icon:hover {
    color: #98ca68; }

.clickeable {
  cursor: pointer; }

.inline {
  display: inline-flex; }

#app-wrapper {
  height: 100%; }

.map-header {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001; }
  .map-header .container {
    padding-left: 3em;
    width: 100%; }

h1 {
  float: left;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0.7em; }

h2 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  line-height: 55%; }

.header-nav {
  float: right;
  text-transform: uppercase;
  margin-top: 0.3em; }
  .header-nav a {
    color: #a0cdff;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
    font-size: 0.9em; }
    .header-nav a:hover {
      color: #ffffff; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

#map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  background: #ffffff; }

.map-border, .map-border-right, .map-border-bottom {
  width: 4em;
  height: 100%;
  position: absolute;
  z-index: 1001;
  background: #000000;
  opacity: 0.8; }

.map-border-right {
  top: 3.65em;
  right: 0;
  position: fixed; }

.map-border-bottom {
  bottom: 5em;
  right: 0;
  width: 100%;
  height: 4em; }

.map-footer {
  background: #ffffff;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  padding: 0.5em; }
  .map-footer .container {
    padding-left: 3em;
    width: 100%;
    padding-left: 2em; }

.navbar-brand {
  padding: 0;
  float: none;
  font-size: inherit; }

.logo {
  width: 15em;
  margin: 0; }
  .logo:hover {
    opacity: 0.8;
    -webkit-transition: opacity 600ms ease;
    -moz-transition: opacity 600ms ease;
    -o-transition: opacity 600ms ease;
    transition: opacity 600ms ease; }

#sidebar-wrapper {
  width: 3em;
  z-index: 1002;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: fixed;
  top: 50px; }
  #sidebar-wrapper .panel-toggle {
    top: 47%;
    margin-left: 30%;
    position: absolute; }

.slider_content {
  width: 750px;
  height: 87%;
  position: absolute;
  left: 36px;
  top: -3px;
  -webkit-transition: opacity 600ms ease;
  -moz-transition: opacity 600ms ease;
  -o-transition: opacity 600ms ease;
  transition: opacity 600ms ease; }
  .slider_content .fixed {
    width: 485px;
    margin: 3px;
    padding: 5px;
    height: 100%;
    overflow: hidden;
    background-color: #fff; }

.slider-enter {
  overflow: hidden;
  width: 0; }

.slider-enter.slider-enter-active {
  -webkit-transition: width 1s ease;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s;
  width: 700px; }

.slider-leave {
  -webkit-transition: width 1s ease;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
  width: 0px; }

.slider-leave.slider-leave-active {
  width: 0; }

#map-panel {
  width: 700px;
  position: absolute;
  z-index: 1;
  padding: 15px;
  background: rgba(221, 230, 234, 0.8);
  overflow: auto;
  height: 102%; }

ul.tabbed {
  margin-left: 20px; }

.h-divider {
  border: none;
  height: 1px;
  background: #dedede;
  width: 99%;
  display: block;
  margin: 1em auto; }

.loader {
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 1em;
  margin: auto;
  vertical-align: top; }

/*
Set the color of the icon
*/
svg path,
svg rect {
  fill: #98ca68; }

@media only screen and (min-device-width: 786px) and (max-device-width: 1024px) {
  /*tablets*/
  h2 {
    margin-left: 0; } }
@media only screen and (max-width: 767px) {
  /* phones */
  h1,
  h2 {
    padding-left: 1em;
    font-size: 1rem; }

  h2 {
    margin-left: 0; } }
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  h1,
  h2 {
    width: 100%; }

  h2 {
    margin-left: 0;
    margin-top: 0; }

  .header-nav {
    margin-bottom: 1em; } }
.activity-nav {
  clear: both;
  overflow: hidden;
  padding-top: 0.7em;
  margin-left: 0.7em; }

.filter-type-wrapper {
  overflow: hidden;
  margin-bottom: 1em; }
  .filter-type-wrapper ul {
    padding-left: 0; }
  .filter-type-wrapper li.filter-type-label {
    float: left;
    padding-left: 0;
    list-style: none;
    margin-right: 1em;
    line-height: 110%; }
    .filter-type-wrapper li.filter-type-label:first-child {
      border-right: 1px solid #ababab;
      padding-right: 2.1em;
      margin-right: 2.1em; }
    .filter-type-wrapper li.filter-type-label a {
      color: #787878;
      font-size: 1.0em; }
      .filter-type-wrapper li.filter-type-label a:hover, .filter-type-wrapper li.filter-type-label a.active {
        color: #2472c8; }
    .filter-type-wrapper li.filter-type-label .fa {
      margin-right: 0.5em;
      font-size: 0.8em;
      line-height: 110%; }

nav.activities {
  overflow: hidden; }

ul.activities {
  padding-left: 0;
  margin-top: 0.5em; }
  ul.activities li {
    padding-left: 0;
    list-style: none;
    font-size: 1.20rem;
    float: left;
    margin-right: 0.5em;
    margin-bottom: 1.2em; }
    ul.activities li a {
      color: #b8b8b8;
      line-height: 80%;
      padding: 0;
      border-radius: 0;
      display: inline;
      margin-right: 0px;
      text-transform: uppercase;
      -webkit-transition: all 600ms ease;
      -moz-transition: all 600ms ease;
      -o-transition: all 600ms ease;
      transition: all 600ms ease;
      background: #eeeeee;
      padding: 0.3em 0.7em; }
      ul.activities li a:hover, ul.activities li a.active, ul.activities li a:focus {
        background: #ffffff;
        border: 1px solid #cccccc;
        outline: none;
        line-height: 85%;
        color: #2472c8;
        cursor: pointer; }

.basemap-selector {
  width: 485px;
  overflow: hidden;
  background: #800; }

.basemap-option-selected {
  cursor: pointer;
  color: #4d749f; }

.basemap-option {
  cursor: pointer; }

.map-panel-header {
  margin: 0 0 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #c5c5c5;
  overflow: hidden; }

.map-panel-label, .filter-type-wrapper li.filter-type-label, .basemap-label, .predefined-maps, .overview-label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem; }

.basemap-label {
  float: left;
  color: #234b77;
  margin-right: 1em; }

.predefined-maps {
  float: right;
  -webkit-transition: color 600ms ease;
  -moz-transition: color 600ms ease;
  -o-transition: color 600ms ease;
  transition: color 600ms ease; }
  .predefined-maps a {
    color: #4c7128; }
    .predefined-maps a:hover {
      color: #98ca68; }

ul.basemap-list {
  float: left;
  padding-left: 0;
  list-style: none;
  margin-top: 6px;
  margin-left: 7px; }
  ul.basemap-list li {
    float: left;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid #b0b0b0;
    height: 12px;
    font-size: 1.2rem;
    line-height: 85%;
    cursor: pointer; }
    ul.basemap-list li:hover {
      color: #2472c8; }
    ul.basemap-list li:last-child {
      border-right: none; }
  ul.basemap-list a {
    color: #4d749f;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease; }
    ul.basemap-list a:hover {
      color: #4d749f; }

.button-pane {
  overflow: hidden;
  padding-bottom: 1em;
  padding-top: 0.5em;
  padding-right: 0.6em;
  float: right; }

.btn, .btn-apply, .m-scooch-controls a, button.layer-search {
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 5px 35px;
  text-transform: uppercase; }

.btn-apply, .m-scooch-controls a, button.layer-search {
  color: #ffffff;
  background: #98ca68;
  float: right;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  margin-left: 1em; }
  .btn-apply:hover, .m-scooch-controls a:hover, button.layer-search:hover {
    background: #659735;
    color: #ffffff; }
  .btn-apply.space-left, .m-scooch-controls a.space-left, button.space-left.layer-search {
    margin-left: 1em; }

.leaflet-top {
  top: 4em; }

.m-scaled .m-item {
  opacity: 0.4;
  padding: 10px; }

.m-scaled .m-active {
  opacity: 1;
  box-shadow: none; }

.m-center:not(.m-fluid) > .m-scooch-inner > * {
  background: #ffffff;
  width: 480px;
  margin-left: -80px; }

.m-fade-out {
  -webkit-mask-image: none; }

.m-scooch-controls {
  width: 45%;
  margin-left: -10px;
  padding-top: 0;
  margin-top: -13px; }

.m-scooch-controls a {
  margin-right: 2px;
  display: block;
  float: left;
  line-height: 80%;
  padding: 9px 35px;
  font-size: 0.8em; }
  .m-scooch-controls a:hover {
    text-decoration: none; }

button.layer-search {
  padding: 5px;
  float: right;
  margin-left: 0; }

.marker {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-color: rgba(253, 154, 0, 0.8);
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgba(255, 88, 1, 0.4), 0 0 0 8px rgba(242, 129, 0, 0.24); }
  .marker .number {
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center; }
    .marker .number span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font: "Open Sans", sans-serif; }

.filter-breadcrumb {
  background: #8ba8c7;
  padding: 0.33333em;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease; }
  .filter-breadcrumb:hover {
    background: #4d749f; }
  .filter-breadcrumb .filter-count {
    color: #ffffff;
    float: right; }

.filter-group-panel-container {
  width: 395px; }

.filter-group-panel {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  opacity: 0.4;
  background: #ffffff;
  padding: 0.3em 1em 1em 1em;
  margin-top: 0.2em;
  height: 300px;
  overflow: hidden; }
  .filter-group-panel.selected {
    opacity: 1; }

.panel-count {
  color: #98ca68;
  background: #4d749f;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 190%;
  margin-right: 0.5em;
  text-align: center;
  font-weight: bold; }

.filter-count {
  color: #4d749f;
  font-weight: bold;
  float: right;
  line-height: 160%; }
  .filter-count a {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease; }
    .filter-count a:hover {
      color: #98ca68; }

.filter-label {
  text-transform: uppercase;
  font-size: 1em; }

.filter-selectors {
  float: right;
  font-size: 1.4rem;
  line-height: 80%;
  font-style: italic;
  margin-top: 5px;
  margin-right: 1em; }
  .filter-selectors a {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease; }
    .filter-selectors a:hover {
      color: #98ca68; }

.filter-list-container {
  margin-top: 1em;
  max-height: 270px;
  overflow-y: auto; }

ul.filter-list {
  padding-left: 0;
  list-style: none; }
  ul.filter-list li {
    color: #4d749f;
    font-size: 1.2rem; }
    ul.filter-list li span {
      display: table;
      margin-bottom: 0.25em;
      line-height: 1em; }

.select {
  width: 12px;
  height: 12px;
  border: 1px solid #929292;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 0;
  margin: 0 10px 0 0;
  position: relative;
  display: inline-block;
  overflow: hidden; }

.glyphicon.glyphicon-stop {
  width: 12px;
  height: 12px;
  margin: 0;
  position: absolute;
  left: -3px;
  top: -4px;
  display: block; }

.glyphicon.glyphicon-stop:before {
  visibility: visible;
  color: #ffffff; }

.glyphicon.glyphicon-stop:checked:before {
  color: #e9ba00; }

input[type=checkbox].glyphicon {
  visibility: hidden; }

.fade {
  opacity: 0.9; }

.filter-parent {
  display: inline-flex;
  padding-top: 15px; }

.filter-col {
  width: 280px;
  float: left;
  display: block;
  padding-right: 10px; }

nav.tab-navigation,
nav.tabs {
  clear: both;
  margin: 0; }

.nav-tabs {
  border-bottom: none; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #3775bb;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #cccccc; }

.main-tabs .nav-tabs li a {
  background: #ececec; }

.main-tabs .nav-tabs li.active a {
  color: #3775bb;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.8); }

.tabs > li {
  float: left;
  text-align: center;
  text-transform: uppercase; }

.tabs > li a {
  padding: 8px 25px;
  color: #9e9e9e;
  border: 1px solid #d1d1d1;
  background: #d4d4d4;
  font-size: 1.2rem;
  outline: none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease; }
  .tabs > li a:hover {
    color: #3775bb;
    border: 1px solid #d1d1d1;
    background: #ffffff; }

.tab-pane.active {
  border: 1px solid #cccccc;
  padding: 0.6em; }

.tab-content .inline {
  padding: 0.3em; }

.overview-pane {
  padding-right: 10em; }

.overview-label {
  color: #4d749f; }

.stat-container {
  margin: 1em 0; }

ul.overview-stats {
  padding-left: 0;
  list-style: none; }
  ul.overview-stats li {
    color: #4d749f;
    line-height: 176%; }

.stat {
  color: #454545;
  font-size: 17px; }

.text-search-wrapper {
  clear: both;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  background: #ffffff;
  margin-top: 0.6em; }
  .text-search-wrapper input[type=text] {
    border: 1px solid #fff;
    outline: none;
    width: 93%; }

.search-box {
  background: #ffffff;
  border: 1px solid #c5c5c5; }
  .search-box:hover {
    border: 1px solid #8ba8c7; }

button.search-button {
  background: #ffffff;
  border: 1px solid #ffffff;
  -webkit-appearance: none;
  outline: none; }

.layer-search-wrapper {
  clear: both;
  margin-bottom: 1em; }

.layer-search-options {
  padding-top: 0.7em;
  padding-bottom: 0.5em; }
  .layer-search-options ul {
    padding-left: 0;
    list-style: none;
    clear: both; }
    .layer-search-options ul li {
      float: left;
      margin-right: 2em;
      position: relative; }

.selectable, .selectable-radio {
  width: 10px;
  height: 10px;
  border: 1px solid #cccccc;
  background: #ffffff;
  float: left;
  margin-right: 1em; }
  .selectable:hover, .selectable-radio:hover {
    background: #ffe683; }
  .selectable.selected, .selected.selectable-radio {
    background: #e9ba00; }

.selectable-radio {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.layer-label {
  float: left;
  line-height: 100%; }

.disabled {
  z-index: 1000;
  opacity: 0.6;
  pointer-events: none; }

.tab-panel {
  clear: both;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.8);
  padding: 1em 1.8em;
  overflow: hidden; }

.tab-content {
  background: rgba(255, 255, 255, 0.8);
  min-height: 320px;
  height: auto;
  overflow: hidden;
  width: 99%; }
  .tab-content ul {
    list-style: none; }
  .tab-content input[type="checkbox"],
  .tab-content input[type="radio"] {
    margin-right: 8px; }
  .tab-content span.btn, .tab-content span.btn-apply {
    padding: 0; }

ul.tabs {
  list-style: none;
  padding-left: 0; }

.esri-result-list {
  overflow-y: scroll;
  height: 380px; }
  .esri-result-list ul {
    padding-left: 0;
    list-style: none; }

.layer-wrapper {
  width: 305px;
  float: left;
  height: 150px;
  padding: 0 0.5em 0 0;
  padding-left: 0;
  list-style: none;
  display: block; }

.thumbnail {
  width: 120px;
  margin-right: 1em; }

.layer-info {
  float: left;
  display: inline;
  width: 155px; }

.title {
  color: #000000;
  font-size: 0.85em;
  line-height: 98%;
  margin-bottom: 0.5em; }

.type {
  line-height: 98%;
  margin-bottom: 0.5em;
  color: #6b6b6b;
  font-size: 0.85em; }

.btn, .btn-apply, .m-scooch-controls a, button.layer-search {
  font-size: 0.8em;
  float: left;
  margin-left: 0; }

.layer-search-options ul {
  line-height: 80%; }

.seemore {
  float: right;
  font-size: 0.9em;
  padding-right: 0.4em; }

.arcgis-sig-in {
  position: absolute;
  top: 60px;
  right: 75px;
  z-index: 100;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  color: #787878;
  text-transform: uppercase;
  font-size: 0.9em;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease; }
  .arcgis-sig-in button {
    background: #eee;
    border: 1px solid #eee;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease; }
    .arcgis-sig-in button:hover {
      background: #ffffff;
      color: #2472c8; }
  .arcgis-sig-in .marker {
    border-radius: 100%;
    background-color: rgba(253, 154, 0, 0.8);
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgba(255, 88, 1, 0.4), 0 0 0 8px rgba(242, 129, 0, 0.24); }
    .arcgis-sig-in .marker .number {
      width: 100%;
      height: 100%;
      line-height: 100%;
      text-align: center; }
      .arcgis-sig-in .marker .number span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font: base-font-family; }

.language-btn {
  float: right;
  position: relative;
  border-left: 1px solid #a0cdff;
  margin-left: 1.1em; }
  .language-btn .dropdown-menu {
    background-color: black;
    border: none;
    min-width: 100px;
    margin: 0 0 0 6px;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .language-btn .dropdown-menu li {
      background: none; }
      .language-btn .dropdown-menu li:hover {
        padding: 0; }
      .language-btn .dropdown-menu li a {
        color: #a0cdff;
        padding: 0 0 0 1.2em;
        outline: none; }
        .language-btn .dropdown-menu li a:hover {
          background: none;
          color: #ffffff; }
  .language-btn .btn-input {
    display: block; }
  .language-btn .btn-input .btn.form-control, .language-btn .btn-input .form-control.btn-apply, .language-btn .btn-input .m-scooch-controls a.form-control, .m-scooch-controls .language-btn .btn-input a.form-control, .language-btn .btn-input button.form-control.layer-search {
    text-align: left; }
  .language-btn .btn-input .btn.form-control span:first-child, .language-btn .btn-input .form-control.btn-apply span:first-child, .language-btn .btn-input .m-scooch-controls a.form-control span:first-child, .m-scooch-controls .language-btn .btn-input a.form-control span:first-child, .language-btn .btn-input button.form-control.layer-search span:first-child {
    left: 10px;
    overflow: hidden;
    position: absolute;
    right: 25px; }
  .language-btn .btn-input .btn.form-control .caret, .language-btn .btn-input .form-control.btn-apply .caret, .language-btn .btn-input .m-scooch-controls a.form-control .caret, .m-scooch-controls .language-btn .btn-input a.form-control .caret, .language-btn .btn-input button.form-control.layer-search .caret {
    margin-top: -1px;
    position: absolute;
    right: 10px;
    top: 50%; }
  .language-btn .btn-language-select {
    background: none;
    color: #a0cdff;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
    font-size: 0.9em;
    padding: 0;
    margin-left: 1em; }
    .language-btn .btn-language-select:hover {
      color: #ffffff; }

/*# sourceMappingURL=main.css.map */
