.basemap-selector {
  overflow: hidden;
  width: 485px;
}

.basemap-option-selected {
  color: $blue;
  cursor: pointer;
}

.basemap-option {
  cursor: pointer;
}

.map-panel-header {
  border-bottom: 1px solid $border-grey-alt;
  margin: 0 0 $gutter 0;
  overflow: hidden;
  padding-bottom:$gutter/2;
  width:98%;
}

.map-panel-label {
  @include textBold;
  @include textUppercase;
  font-size: 1.3rem;
}

.basemap-label {
  @extend .map-panel-label;
  @include floatLeft;
  color: $blue-dark;
  margin-right: $gutter;
}

ul.basemap-list {
  @include floatLeft;
  @include listUnstyled;
  margin-top: 6px;
  margin-left: 7px;
  margin-bottom:7px;

  li {
    @include floatLeft;
    @include transitionColor;
    border-right: 1px solid $black;
    color: $black;
    cursor: pointer;
    font-size: 1.1rem;
    height: 12px;
    line-height: 85%;
    margin-right: $gutter;
    padding-right: $gutter;

    &:hover {
      color: $blue-dark;
    }
    &:last-child {
      border-right: none;
    }
  }
  a {
    color: $blue;
    @include transitionColor;

    &:hover {
      color: $blue;
    }
  }
}
