.button-pane {
  overflow: hidden;
  padding-bottom: $gutter;
  padding-top: $gutter/2;
  padding-right: 0.6em;
  @include floatRight;
}
.btn {
  cursor: pointer;
  @include border-radius(2px);
  padding: 5px 35px;
  text-transform: uppercase;
    &:focus{
      @include noOutline;
    }
}


.btn-apply {
  @extend .btn;
  color: $white;
  background: $green;
  @include floatRight;
  @include transitionAll;
  @include textBold;
  margin-left: 1em;
  outline:none;
  &:hover {
    background: darken($green,20%);
    color: $white;
  }
  &.space-left {
    margin-left: $gutter;
  }
}
//map controls
.leaflet-top {
  top: $gutter*4;
}
//filter slider
.m-scaled .m-item {
  opacity: 0.15;
  padding: 10px;
}
.m-scaled .m-active {
  opacity: 1;
  box-shadow: none;
  z-index: 1;
}
.m-center {
  overflow: visible;
}
.m-center:not(.m-fluid)>.m-scooch-inner>* {
  background: $white;
  width: 460px;
  margin-left: -105px;
  .filter-label {
    font-size: 0.9em;
    color: $grey;
  }
  .filter-selectors {
    margin-top: 10px;
  }
  .filter-count {
    margin-top: 5px;
    font-size:0.9em;
  }
}
.m-fade-out {
  -webkit-mask-image: none;
}
.scooch-disabled {
  color: rgba(168, 165, 165, 0.8) !important;
  cursor: default !important;
}
.m-scooch-controls {
  margin-left: -15px;
  position: absolute;
  top: 90px;
  font-size: 40px;
  z-index:0;
  &:hover {
    text-decoration: none;
  }
  span {
    @include noOutline;
    text-decoration: none;
    cursor: pointer;
    color: #7493B4;
    &:hover {
      color: #13538B;
    }
  }
  &.right{ right:-15px}
  &.left{ left:-2px}
}
.scooch-prev {
  float: left;
  z-index: 300;
}
.scooch-next {
  float: right;
  z-index: 300;
}
// layer search button
button.layer-search {
  @extend .btn-apply;
  padding: 5px;
  float: right;
  margin-left: 0;
}
// ???
.marker {
  @include border-radius(100%);
  background-color: rgba(253, 154, 0, 0.8);
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgba(255, 88, 1, 0.4), 0 0 0 8px rgba(242, 129, 0, 0.24);
  .number {
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font: $base-font-family;
    }
  }
}
