/*add here all styles used during development later they will be replaced by the final ones */


.selectable-radio{
	border-radius: 0% !important;
	background-clip:none;

	font-size: 1.5em !important; 
	width: 5px;
	height: 5px;
	border: 1px solid #cccccc;
	background: #ffffff;
	float: left;
	margin-right: 0.2em;
	margin-top: 1px;
	width:13px;
	height:13px;
	.selected{
		
	}
	.fa{
		font-size:0.7em;
		margin-left: 2px;
		margin-top: -2px;
		float: left;
	}
}


.horizontal{
	float: left;
	margin-right:10px;
}
.leaflet-popup-pane {
	z-index: 10000;
}
.iframe-content {
	border: 0px;
	width:100%;
	height:98%;
}
.chart-container {
	border: 0px;
	width:95%;
	height:95%;
}
.sub-activities-title{
	color:#4278AA;
	font-size:14px
}

.fundingByType-title{
	color:#4278AA;
	font-size:14px
}

.clearFix{
	@include clearfix;
}
.breaksOptions {

	input{
		width: 20px;
		font-size:10px;
		margin-top: 4px; 
	}

	.label{
		float: left;
		width: 110px;
		margin-top:7px;
	}

	.colorpicker-element{
		width: 25px;
		height: 25px;
		float: left;
		margin: 3px;
		border:1px;
	}

	.input-group-addon {
		padding: 2px 2px;
		font-size: 12px;
		font-weight: normal;
		line-height: 1;
		color: #555;
		text-align: center;
		background-color: #eee;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	
}

.breaksTemplates {

	.label{
		float: left;
		width: 50px;
		margin-top:7px;
	}

	.colorpicker-element{
		width: 25px;
		height: 25px;
		float: left;
		margin: 3px;
		border:1px;
	}

	.input-group-addon {
		padding: 2px 2px;
		font-size: 12px;
		font-weight: normal;
		line-height: 1;
		color: #555;
		text-align: center;
		background-color: #eee;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	
}

.loading-container {
	position: absolute;
	bottom: 50%;
	right: 45%;
	border: 0px solid 
}

.popup-loading-container {
  height: 240px;
  padding-left: 175px;
  padding-top: 80px;
}

.subactivities-container {
  height: 240px;
}

.subactivities-list {
  overflow-y: scroll;
  height: 230px;
  width: 420px;
}
