// filter breadcrumbs
.filter-breadcrumb {
  background: lighten($blue,20%);
  padding: $gutter/3;
  color: $white;
  font-size: 1.3rem;
  @include textBold;
  @include transitionAll;
  &:hover {
    background: $blue;
  }
  .filter-count {
    color: $white;
    @include floatRight;
  }
}
