// filters
.filter-group-panel-container {
  width: 395px;
}
.filter-group-panel {
  @include border-radius(2px);
  opacity: 0.4;
  background: $white;
  padding: 0.3em $gutter $gutter $gutter;
  margin-top: 0.2em;
  height: 300px;
  overflow:hidden;
  //selected active filter panel
  &.selected {
    opacity:1;
  }
}

.filter-group-panel-header {
}

.panel-count {
  color: $green;
  background: $blue;
  @include border-radius(50%);
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 190%;
  margin-right: $gutter/2;
  @include textCenter;
  @include textBold;
}
.filter-count {
  color: $blue;
  @include textBold;
  float:right;
  line-height:160%;
  a{
    @include transitionAll;
    &:hover{
    color: $green;
  }
  }

}
.filter-label {
  @include textUppercase;
  font-size:1em;
}
.filter-selectors {
  @include floatRight;
  font-size: 1.4rem;
  line-height:80%;
  font-style: italic;
  margin-top: 5px;
  margin-right:$gutter;
  a{
    @include transitionAll;
    &:hover{
      color: $green;
    }
  }


}
// filter list
.filter-list-container {
  margin-top: $gutter;
  max-height: 270px;
  overflow-y: auto;
}
ul.filter-list {
  @include listUnstyled;
  li {
    color: $blue;
    font-size: 1.2rem;
    span{
      display:table;
      margin-bottom:$gutter/4;
      line-height:1em;
    }
  }
}
//filter input with glyphicon -> remove -> using selectable div
.select {
  width: 12px;
  height: 12px;
  border: 1px solid lighten($grey,30%);
  @include border-radius(2px);
  padding: 0;
  margin: 0 10px 0 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.glyphicon.glyphicon-stop {
  width: 12px;
  height: 12px;
  margin: 0;
  position: absolute;
  left: -3px;
  top: -4px;
  display: block;
}
.glyphicon.glyphicon-stop:before {
  visibility: visible;
  color: $white;
}
.glyphicon.glyphicon-stop:checked:before {
  color: #e9ba00;
}
input[type=checkbox].glyphicon {
  visibility: hidden;
}

.filter-group-sublevel {
}

.fade{opacity:0.9;}

.filter-parent{
  display: inline-flex;
  padding-top: 15px;
}

.filter-col{
  width:280px;
  @include floatLeft;
  display:block;
  padding-right:10px;
}

.filter-col-parent{
  @extend .filter-col;
  width:580px;
}
