// filters
.filter-group-panel-container {
  width: 395px;
}
.filter-group-panel {
  @include border-radius(2px);
  opacity: 0.4;
  padding: 0.3em $gutter $gutter $gutter;
  height: 270px;
  overflow:visible;
  //selected active filter panel
  &.selected {
    opacity:1;
    // background: rgba(255,255,255,0.6);
    // border:1px solid lighten($grey,55%);
    // padding:$gutter $gutter*1.5;
  }
}

.filter-group-panel-header {
  margin-bottom: $gutter/2;
}

.panel-count {
  color: $white;
  background: $bgblue;
  @include border-radius(50%);
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 270%;
  margin-right: $gutter/2;
  @include textCenter;
  @include textBold;
  line-height:175%;
}
.filter-count {
  color: $bgblue;
  @include textBold;
  display: inline;
  line-height:160%;
  padding-left: 7px;
  a{
    @include transitionAll;
    color: $blue;
    &:hover{
    color: $green;
  }
  }

}
.filter-label {
  font-size:1.2em;
  color:$grey;

}
.filter-selectors {
  @include floatRight;
  font-size: 1.2rem;
  line-height:80%;
  font-style: italic;
  margin-top: 5px;
  margin-right:$gutter;
  a{
    @include transitionAll;
    color: $blue;
    &:hover{
      color: $green;
    }
  }


}
// filter list
.filter-list-container {
  margin-top: $gutter;
  max-height: 210px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.1em 1em 0.7em 1em;
}
.filter-list-container-carousel {
  @extend .filter-list-container;
  height: 170px;
  overflow-x: hidden;
  font-size: 0.7em;
}
ul.filter-list {
  @include listUnstyled;
  display:block;
  margin-top: $gutter;

  li {
    color: $grey;
    font-size: 110%;
    span{
      display:table;
      margin-bottom:$gutter/4;
      line-height:1.3em;
      padding-right: 4px;
    }
  }
}
//filter input with glyphicon -> remove -> using selectable div
.select {
  width: 12px;
  height: 12px;
  border: 1px solid lighten($grey,30%);
  @include border-radius(2px);
  padding: 0;
  margin: 0 10px 0 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.glyphicon.glyphicon-stop {
  width: 12px;
  height: 12px;
  margin: 0;
  position: absolute;
  left: -3px;
  top: -4px;
  display: block;
}
.glyphicon.glyphicon-stop:before {
  visibility: visible;
  color: $white;
}
.glyphicon.glyphicon-stop:checked:before {
  color: #e9ba00;
}
input[type=checkbox].glyphicon {
  visibility: hidden;
}

.filter-group-sublevel {}

.fade{opacity:0.9;}

.filter-parent{
  display: inline-flex;
  padding-top: 15px;
  background: lighten($grey,70%);
  border:1px solid lighten($grey,60%);
  padding:0.5em;
  margin-bottom:-1px;

  .selectable{
    margin-top: 0.7em;
    margin-left:0.4em;
  }
}

.filter-col{
  width:260px;
  @include floatLeft;
  display:inline-flex;
  padding-right:10px;

}

.filter-col-parent{
  @extend .filter-col;
  width:560px;
  padding: $gutter/2;
  @include textBold;
  color:$grey;
  line-height:2.2em;
  font-size: 14px;
}

.fa.fa-minus,
.fa.fa-plus{
  float:right;
}

.hasDatepicker {
    position: relative;
    z-index: 10000 !important;
}
