.leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
  width: 364px;
  padding: 0;
}
.leaflet-popup-content-wrapper h3 {
  font-weight: 700;
  font-size:14px;
  text-decoration:underline;
  float:left;
  margin-right:2px;
}
.leaflet-popup-content-wrapper .title-label{
  text-decoration:none;
  float:left;
}
.leaflet-popup-content-wrapper h4 {
  font-size: 1em;
  font-weight: bold
}
.leaflet-popup-content-wrapper .panel-default {
  border: none;
}
.leaflet-popup-content-wrapper .panel-default > .panel-heading {
  background: #ffffff;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px dashed #e8e8e8;
  border-top: none;
  border-left: none;
  border-right: none;
  overflow:hidden;
}
.leaflet-popup-content-wrapper .panel.panel-default {
  width: 100%;
}
.leaflet-popup-content {
  background: #ececec;
}
.leaflet-popup-tip-container {
  width: 370px;
  margin-top: -20px;
}
.leaflet-popup-tip {
  background: #ffffff;
  margin: -10px auto 0;
}
.popup-nav-wrapper .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.popup-content {
  height: 220px;
  overflow-y: auto;
  width: 100%;
}
.popup-nav-wrapper .panel-body {
  padding: 0;
  width: 100%;
}
.leaflet-popup-content {
  margin: 0;
  width: 100%;
}
.leaflet-popup-content-wrapper .panel-body ul {
  margin-left: 0;
  padding-left: 1.4em;
  list-style-position: outside;
}
.popup-nav-wrapper .tabs>li a {
  padding: 6px 34px;
  background: #ececec;
  margin: 0 0 0 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border:1px solid transparent;
}
.popup-nav-wrapper .tabs>li.active a {
  background: #e6f2f8;
}
.popup-nav-wrapper .nav-tabs {
  border-bottom: 0;
}
.popup-nav-wrapper .nav-tabs > li > a:hover,
.popup-nav-wrapper .nav-tabs > li > a:focus {
  background: #e6f2f8;
  border:1px solid transparent;
}

.popup-nav-wrapper .nav-tabs > li.active > a, .popup-nav-wrapper .nav-tabs > li.active > a:hover, .popup-nav-wrapper .nav-tabs > li.active > a:focus {
  border: none;
  background: #e6f2f8;
}
.popup-nav-wrapper ul.tabs.nav.nav-tabs {
  border-bottom: none;
}
.leaflet-popup-close-button {
  font-size: 1.5em;
  width: 28px;
  height: 10px;
  float: right;
  margin-right: 5px;
}
.leaflet-popup-close-button:hover {
  color: #5ca4e7;
  text-decoration: none;
}

/*custom icons in popup window*/
span.popup-icon{
  width:18px;
  height:18px;
  display:block;
  margin: 0 auto;
  background: url(../../images/popup-icons.png) no-repeat;
}
.popup-icon.chart{
background-position: 0 0;
}
.popup-icon.chart:hover,
.popup-icon.chart.active{
background-position: 0 -21px;
}

.popup-icon.funding-dev-obj{
background-position: -24px 0;
}
.popup-icon.funding-dev-obj:hover,
.popup-icon.funding-dev-obj.active{
background-position: -24px -21px;
}

.popup-icon.subactivities{
background-position: -44px 0;
}
.popup-icon.subactivities:hover,
.popup-icon.subactivities.active{
background-position: -44px -21px;
}

.popup-icon.export{
background-position: -62px 0;
}

.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.export,
.popup-nav-wrapper .nav-tabs > li.active a .popup-icon.export{
background-position: -62px -21px;
}

.popup-nav-wrapper .nav-tabs > li.active a,
.popup-nav-wrapper .nav-tabs > li.active a:hover,
.popup-nav-wrapper .nav-tabs > li.active a:focus{
border:1px solid transparent;
}
