.leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
  width: 450px;
  padding: 0;
}
.leaflet-popup-content-wrapper h3 {
  font-weight: 700;
  font-size:14px;
  text-decoration:underline;
  float:left;
  margin-right:2px;
}
.leaflet-popup-content-wrapper .title-label{
  text-decoration:none;
  float:left;
}
.leaflet-popup-content-wrapper h4 {
  font-size: 1em;
  font-weight: bold
}
.leaflet-popup-content-wrapper .panel-default {
  border: none;
}
.leaflet-popup-content-wrapper .panel-default > .panel-heading {
  background: #ffffff;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px dashed #e8e8e8;
  border-top: none;
  border-left: none;
  border-right: none;
  overflow:hidden;
}
.leaflet-popup-content-wrapper .panel.panel-default {
  width: 100%;
}
.leaflet-popup-content {
  border:1px solid #800;
}
.leaflet-popup-tip-container {
  width: 370px;
  margin-top: -20px;
}
.leaflet-popup-tip {
  background: #ffffff;
  margin: -10px auto 0;
}
.popup-nav-wrapper {
  display: none;
}
.popup-nav-wrapper .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.popup-content {
  height: 220px;
  overflow-y: auto;
  width: 100%;
}
.popup-nav-wrapper .panel-body {
  padding: 0;
  width: 100%;
}
.leaflet-popup-content {
  margin: 0;
  width: 100%;
}

.leaflet-popup-content .panel-body{
  padding:0;
}

.leaflet-popup-content-wrapper .panel-body ul {
  margin-left: 0;
  padding-left: 1.4em;
  list-style-position: outside;
}



.popup-nav-wrapper .tabs>li a {
  padding: 6px 28px;
  background: #ececec;
  margin: 0 0 0 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border:1px solid transparent;
}
.popup-nav-wrapper .tabs>li.active a {
  background: #e6f2f8;
}
.popup-nav-wrapper .nav-tabs {
  border-bottom: 0;
}
.popup-nav-wrapper .nav-tabs > li > a:hover,
.popup-nav-wrapper .nav-tabs > li > a:focus {
  background: #e6f2f8;
  border:1px solid transparent;
}

.popup-nav-wrapper .nav-tabs > li.active > a, .popup-nav-wrapper .nav-tabs > li.active > a:hover, .popup-nav-wrapper .nav-tabs > li.active > a:focus {
  border: none;
  background: #e6f2f8;
}
.popup-nav-wrapper ul.tabs.nav.nav-tabs {
  border-bottom: none;
}
.leaflet-popup-close-button {
  font-size: 1.5em;
  width: 28px;
  height: 10px;
  float: right;
  margin-right: 5px;
}
.leaflet-popup-close-button:hover {
  color: #5ca4e7;
  text-decoration: none;
}

/*custom icons in popup window*/
span.popup-icon{
  width:25px;
  height:20px;
  display:block;
  margin: 0 auto;
  background: url(../images/popup-icons.png) no-repeat;
}
.popup-icon.chart{
background-position: 0 0;
}
.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.chart,
.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.chart.active{
background-position: 0 -29px;
}

.popup-icon.funding-dev-obj{
background-position: -30px 0;
}
ul.national-tabs li a:hover .popup-icon.funding-dev-obj,
ul.national-tabs li a:hover > li.active a .popup-icon.funding-dev-obj,
.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.funding-dev-obj,
.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.funding-dev-obj.active{
background-position: -30px -29px;
}

.popup-icon.subactivities{
background-position: -60px 0;
}
ul.national-tabs li a:hover .popup-icon.subactivities,
ul.national-tabs li a:hover > li.active a .popup-icon.subactivities,
.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.subactivities,
.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.subactivities.active{
background-position: -60px -30px;
}

.popup-icon.export{
background-position: -90px 0;
}
ul.national-tabs li a:hover .popup-icon.export,
ul.national-tabs li a:hover > li.active a .popup-icon.export,
.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.export,
.popup-nav-wrapper .nav-tabs > li.active a .popup-icon.export{
background-position: -90px -29px;
}

.popup-icon.subactivitiesList{
background-position: -120px 0;
}
ul.national-tabs li a:hover .popup-icon.subactivitiesList,
ul.national-tabs li a:hover > li.active a .popup-icon.subactivitiesList,
.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.subactivitiesList,
.popup-nav-wrapper .nav-tabs > li > a:hover .popup-icon.subactivitiesList.active{
background-position: -120px -29px;

}
.popup-nav-wrapper .nav-tabs > li.active a,
.popup-nav-wrapper .nav-tabs > li.active a:hover,
.popup-nav-wrapper .nav-tabs > li.active a:focus{
border:1px solid transparent;
}

.leaflet-tile-pane, .leaflet-objects-pane,.leaflet-shadow-pane ,.leaflet-overlay-pane,.leaflet-marker-pane{
 /* z-index: inherit !important;*/ /* Commented since it was causing troubles with markers*/
}
/*national level projects popup tabs styling*/
ul.national-tabs{
  margin-left:5px;
  margin-top:3px;
}
ul.national-tabs li a{
  background-color: #eee;
  width:118px;
}

.dialog-national-subactivities .subactivities-list{
  width:560px;
  height:305px;
  border-bottom:1px solid #eee;
  padding:10px;
  margin-bottom:10px;
}
