.show-legends-button{
  background: $white;
  border: 1px solid #ccc;
  padding: $gutter/2 $gutter*3;
  @include textUppercase;
  outline:none;
  width:250px;
}

.legends-container{
  position: absolute;
  bottom: 20px;
  right: 70px;
  z-index: 150;
}

.legends-content{
  width: 250px;
  background-color: $white;
  position: absolute;
  bottom: 30px;
  padding:6px 6px 4px 6px ;
  border:1px solid #cccccc;
}

.legend-group-title{
  cursor:pointer;
  color: $white;
  background: #bad5e2;
  padding:$gutter $gutter 0 $gutter;
  margin-bottom:4px;
  @include border-radius(2px);

    span{
      padding-left: $gutter/2;
      font-weight:600;
      color: darken($blue, 10%);
  }
}

.legends-list{
  background: $white;
  ul{
   padding-left: $gutter/2;
  }
}
