
.show-legends-button{
  background: $white;
  border: 1px solid #ccc;
  padding: $gutter $gutter*3;
  @include textUppercase;
  @include transitionAll;
  outline:none;
  width:250px;
  &:hover{
    background:#bad5e2;
  }
}

.legends-container{
  position: absolute;
  bottom: 20px;
  right: 70px;
  z-index: 150;
}

.legends-content{
  width: 250px;
  background-color: $white;
  position: absolute;
  bottom: 42px;
  padding:6px 6px 4px 6px ;
  border:1px solid #cccccc;
}

.legend-group-title{
  cursor:pointer;
  color: $white;
  background: #bad5e2;
  padding:$gutter $gutter 0 $gutter;
  margin-bottom:4px;
  @include border-radius(2px);
    span{
      padding-left: $gutter/2;
      font-weight:600;
      color: darken($blue, 10%);
  }
}

.legends-list{
  background: $white;
  ul{
   padding-left: $gutter/2;
  }
}

.legends-container{
  position: absolute;
  top: 90px;
  right: 63px;
  z-index: 150;
}
  
.show-legends-button{
  float: right;
}

.legend-group-title{
  cursor: pointer;
  padding: 8px;
  background-color: rgba(152, 174, 198, 1);
  span {
    padding-left: 5px;
    font-weight: 600;
    color: #454545;
  }
}

.legends-content{
  width: 250px;
  background-color: rgba(200, 200, 200, 0.8);
}

.legends-list{
  padding-top: 10px;
  padding-bottom: 10px;
  ul {
    list-style-type: none;
  }
}
