.arcgis-sig-in{
  position: absolute;
  top:100px;
  right: 50px;
  z-index: 100;
  border: 1px solid red;
  .marker {
    border-radius: 100%;
    background-color: rgba(253, 154, 0, 0.8);
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6),
    0 0 0 4px rgba(255, 88, 1, 0.4),
    0 0 0 8px rgba(242, 129, 0, 0.24);
    .number{
      width: 100%;
      height:100%;
      line-height: 100%;
      text-align: center;

      span{
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font:base-font-family;
      }
    }
  }
}
