.esri-result-list {
  overflow-y: scroll;
  height: 380px;
  padding-left:0;
  ul {
    @include listUnstyled;
  }
}

.layer-wrapper {
  width:300px;
  @include floatLeft;
  height: 280px;
  overflow:hidden;
  padding: 0 0.5em 0 0;
  @include listUnstyled;
  display: block;
}

.thumbnail {
  width: 110px;
  margin-right: $gutter;
}

.layer-info {
  @include floatLeft;
  display: inline;
  width: 150px;
}

.title {
  color: $black;
  font-size: 1.1em;
  line-height: 120%;
  margin-bottom: $gutter/2;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type {
  line-height: 98%;
  margin-bottom: $gutter/2;
  color: lighten($grey,15%);
  font-size: 0.85em;
}


.details{
  width:116%;
  color:$black;
  margin-bottom:7px;
  &.small{
    font-size:0.95em;
  }
}
.add{
  overflow:hidden;
  margin-top:$gutter;
}


.btn {
  font-size: 0.8em;
  @include floatLeft;
  margin-left: 0;
}

.layer-search-options {
  ul {
    line-height: 130%;
  }
}
.seemore {
  @include floatRight;
  font-size: 0.9em;
  padding-right: 0.4em;
}

.layer-control {
  h3 {
    @extend .filter-label;
  }
  .ui-slider-pip {
    top: 30px;
    display:none;
  }

  .ui-slider-pip .ui-slider-label {
    top: -18px;
  }

  .title{
    font-size: 1em;
    color: $grey;
    line-height:150%;
  }

  .slider-holder{
    position: relative;
    display: block;
    width:200px;
    margin-left: 25px;
  }

  .feature-checkbox{
    float:left;
    margin-top:-5px;
  }

  .updown{
    float: left;
    margin-right: 5px;
    width:45px;
  }
  
  .toggler{
     clear:left;
    .toggler-title{
      float: left;
    }
    .toggler-btn{
      width: 20px;
      float: left;

    }
    .updown{
      float: left;
      margin-right: 5px;
      width:35px;
    }
    .clear-fix{
      clear: both;
    }
  }


  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default{
    background: $blue;
    @include transitionAll;
    outline:none;
    &:hover{ background: $green;}
  }
  .ui-slider-horizontal{
    .ui-slider-handle{
      margin-top:0.15em;
    }
  }
  .ui-slider-horizontal{
    height:1em;
  }
  .ui-slider-label {
    color: $blue;
  }
  
  .fa.fa-times,
  .fa.fa-arrow-down {
    margin-left:$gutter/2;
  }
  .fa.fa-times,
  .fa.fa-arrow-down,
  .fa.fa-arrow-up{
    color: $blue;
    &:hover{ color: $green}
  }

  ul {
    padding-left:5;

    li{
      display:block;
      margin-bottom: 20px;

    }


  }
}




