.toggler{
  @include border-radius(4px);
  background: $background-grey;
  overflow:hidden;
  position:relative;
  margin-bottom:5px;
  padding:0 0 5px 15px;
  .control-title{
    //float:left;
    width: 70%;
    margin: -22px auto 0 12px;
    cursor:pointer;
  }
}
.layer-control-toggle{
  h3{
    @include textBold;
    color:$blue;
    font-size:13px;
    cursor:pointer;
  }
}
.selectable{
  cursor:pointer;
}
.toggler-button{
  background: $background-grey;
  padding:5px 10px;
  margin-top:3px;
  cursor:pointer;
}
.layer-control-panel{
  ul{
    padding-left:0;
    li{
      margin-bottom:0;
      }
  }
}
.control-wrapper{
  overflow:hidden;
  &.transparency{
  width:270px;
  float:left;
  }

}
.controls-items{
  display:block;
  li{
    display:block;
    float:left;
    &.levels{
    width:330px;
    float:left;
    line-height:15px;
    }
    &.color-selection{
    width:100%;
    float:left;
    margin-top:-12px
    }
  }
}

// layer color controls
.color-selection{
  margin-top:30px;
  margin-bottom:20px;
}

.breaksOptions {
  @include floatLeft;
  @include textCenter;
  margin:-37px 0 10px 0;
  width:55px;
  padding-top:$gutter;

	input{
    @include transitionAll;
    width: 54px;
    height:16px;
    font-size: 11px;
    margin: -2px auto 10px -3px;
    outline:none;
    color:$grey-light;
    background: $background-grey;
    border:none;
    clear:both;
    text-align:center;
    &:hover{
      color: $blue;
      background: $white;
      cursor:pointer;
    }
  }

	.label{
    @include textCenter;
    margin-left:-5px;
    color: $black;
    background: none;
    clear:both;
    padding:0;
    &.label-info{
      line-height:30px;
    }
	}

	.input-group-addon {
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border: none;
    clear:both;
    display:block;
    margin: 0 auto 0 -1px;
    i{
      width:54px;
      margin-top:-3px;
    }
	}
}

.colorpicker{
	&.colorpicker-with-alpha{
		width:149px;
		margin-left:39px;
	}
}

// funding options
ul.funding-options{
  margin-left:0;
  padding-left:0;
  width:550px;
  display:block;
  overflow:hidden;

  li{
    float:left;
    width:268px;
    margin-bottom:0;
  }
  .selectable{
    margin-right:5px;
  }
}

// map content list items
.layer-option-section{
    display:block;
    overflow:hidden;
    h3{
      border:1px solid transparent;
    }
}

// commitments vs disbursements selection
.funding-types{
  @include floatLeft;
  width:70%;
  margin-bottom: $gutter/2;
  margin-top:3px;

  li{
    @include floatLeft;
    margin-right:12px;
  }
}
.funding-type-option{
  width:31%;
  float:left;
}

.vbuffer{
  @include vbuffer(20px);
}

//color scheme

.breaksTemplates {
	overflow:hidden;
	.label{
		float: left;
		width: 50px;
		margin-top:7px;
		&.label-info{
			background: transparent;
			color: $blue;
			margin-top:5px;
			border-right:1px solid $grey;
			padding-right:15px;
			margin-right: 10px;
			text-align:left;
			border-radius: 0;
			width:auto;
			cursor: pointer;
			font-size:11px;
			line-height:10px;
			height:13px;
			&:last-child{border-right:none;}
			&:hover{color:$black}
		}
		&.label-info-selected{
			@extend .label-info;
			color: $black;
		}
	}

	.colorpicker-element{
		width: 54px;
		float: left;
		margin-bottom:$gutter*2;
		margin-top:-5px;
		.input-group-addon{
			background-color: transparent;
			border:none;
			padding:0;
			i{
				width:53px;
				margin-top:10px;
				}
		}
	}
}

.selected-indicator{
  margin-top:$gutter;
  h3{
    line-height:15px;
  }
}
