// style overrides for leaflet.css are in a file called leaflet-custom.css
// there were issues overriding the default leaflet css filew with sass

.subactivities-container {
	height: 240px;
	margin-top:15px;
	h3{
		margin-top:$gutter/2;
		margin-bottom:$gutter/2;
	}
}
.leaflet-popup-content-wrapper .panel-body .subactivities-list{
	overflow-y: scroll;
	height: 205px;
	width: 420px;
	ul{
		@include listUnstyled;
		border-top:1px solid #eee;
		margin-top:5px;
		padding-top:5px;
	}
}
.popup-loading-container {
	height: 240px;
	padding-left: 175px;
	padding-top: 80px;
}
.sub-activities-title{
	color:#4278AA;
	font-size:14px;
	margin-top:10px;
}
.indicator-tab-container {
	overflow-y: auto;
	height: 240px;
	width: 420px;
	h3.panel-title{
		width:100%;
		margin-top:20px;
	}
.popup-layer-info{
	ul{
		@include listUnstyled;
		li{
			display:block;
		}
	}
}
}


// indicator search popup

.indicator-search{
	.title{
		@include textBold;
		color: $blue;
		padding-bottom:$gutter/2;
		display:inline-block;
	}
	select{
		outline:none;
		&.form-control{
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		border-radius:0 !important;
		-webkit-appearance: none;
		height:32px;
		}
	}
.blue-panel{
	padding:$gutter*1.2 $gutter*3;
}
.finder{
	padding-bottom:$gutter*2;
	margin-bottom:$gutter*2;
	margin-top:0;
	ul{
		@include listUnstyled;
		margin-left:-8px;
		li{
			margin-right:10px;
		}
	}
}
input[type='text']{
	padding:5px;
	border:1px solid $border-grey;
	margin-bottom:$gutter;
	outline:none;
	height:32px;
}

}
.indicator-table{
	.table{ border-bottom:1px solid $border-grey}
	.table > tbody > tr > td{
		border-top:1px solid transparent;
		color: $blue;
		font-weight:bold;
		padding: 12px 15px;
	}
}
