// start: panel tabs
nav.tab-navigation,
nav.tabs {
  @include clearfix;
  margin: 0;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: none;
  border:1px solid transparent;
  color: $blue;
  font-weight: bold;
}
.main-tabs .nav-tabs li:first-child a{
  &:before{
  @include icon;
  content:'\f041';
  color: $blue;
  margin-right:5px;
  }
}
.main-tabs .nav-tabs li:last-child a{
  &:before{
  @include icon;
  content:'\f0ac';
  color: $blue;
  margin-right:5px;
  }
}

.main-tabs .nav-tabs li.filtertab a:before{
  font-family: FontAwesome;
  color: #4d749f;
  margin-right: 5px;
  content: '\f0b0';
}

.main-tabs .nav-tabs li a{
  background:lighten($grey,66%);
  font-weight:600;
  color:$grey;
}
.main-tabs .nav-tabs li.active a{
  background: rgba(242,246,247,0.6);
  border:1px solid transparent;
  margin-bottom:1px;
}

.tabs>li {
  @include floatLeft;
  @include textCenter;
  @include textUppercase;
}
.tabs>li a {
  padding: 8px 19px 8px 15px;
  color: lighten($grey,35%);
  border:1px solid transparent;
  background: lighten($grey,56%);
  font-size: 1.2rem;
  outline: none;
  @include border-radius(1px);
  @include transitionAll;
  &:hover {
    color: $blue;
    border:1px solid transparent;
    background: $white;
  }
}

.tab-pane.active{
  padding:0.55em 0;
}

.tab-pane.fade.active{
  background:none;
}
.tab-content{
  background: rgba(242,246,247,0.6);
}
.tab-content .inline{
    padding:0.3em;
}


// end:panel tabs
