.toggler{
  @include border-radius(4px);
  // background: #d7e0e4;
  overflow:hidden;
  position:relative;
  .selectable{
  }
  .control-title{
    float:left;
    width: 70%;
    margin: -22px auto 20px 50px;
  }
}
.layer-control-toggle{
  h3{
    @include textBold;
    color:$blue;
    font-size:13px;
  }
}

.toggler-button{
  background: #d7e0e4;
  padding:5px 10px;
  margin-top:3px;
  &:hover{
  background: darken(#d7e0e4,1%);
  }
}
.layer-control-panel{
  ul{
    padding-left:0;
    li{
      margin-bottom:24px;
      }
  }
}

.control-wrapper{
  overflow:hidden;
  &.transparency{
  width:270px;
  float:left;
  }

}

.controls-items{
  display:block;
  li{
    display:block;
    float:left;
    &.levels{
    width:330px;
    float:left;
    }
    &.color-selection{
    width:100%;
    float:left;
    }
  }
}

// layer color controls
.breaksOptions {
  float:left;
  margin-top:-18px;
  margin-right:3px;
  width:35px;
  text-align:center;

	input{
    width: 20px;
    height:16px;
    font-size: 11px;
    margin-top: -2px;
    outline:none;
    border:1px solid #eeeeee;
    color:#888888;
    clear:both;
    text-align:center;
  &:hover{
    border:1px solid $yellow;
    }
  }

	.label{
  	margin-top:2px;
    color: $black;
    background: none;
    text-align:center;
    clear:both;
    padding:0;
	}

  .colorpicker-element{
    width: 20px;
    border: 1px;
	}

	.input-group-addon {
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    border: 1px solid transparent;
    clear:both;
    display:block;
    margin: 0 auto;

    .input-group-addon i{
      width:22px;
    }
	}
}

// funding options
ul.funding-options{
  margin-left:0;
  padding-left:0;
  width:530px;
  display:block;
  overflow:hidden;
  li{
    float:left;
    width:170px;  margin-bottom:0;

  }
  .selectable{
    margin-right:5px;
  }
}
