// start: panel tabs
nav.tab-navigation,
nav.tabs {
  @include clearfix;
  margin: 0;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: saturate(lighten($blue, 1), 20);
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #cccccc;
}
.main-tabs .nav-tabs li a{
  background: #ececec;
}
.main-tabs .nav-tabs li.active a{
  color: saturate(lighten($blue, 1), 20);
  border-bottom:1px solid $white;
  background: rgba(255, 255, 255, 0.8);
}
.tabs>li {
  @include floatLeft;
  @include textCenter;
  @include textUppercase;
}
.tabs>li a {
  padding: 8px 25px;
  color: lighten($grey,35%);
  border: 1px solid lighten($grey,55%);
  background: lighten($grey,56%);
  font-size: 1.2rem;
  outline: none;
  @include border-radius(1px);
  @include transitionAll;
  &:hover {
    color: saturate(lighten($blue, 1), 20);
    border: 1px solid lighten($grey,55%);
    background: $white;
  }
}

.tab-pane.active{
  border:1px solid #cccccc;
  padding:0.6em;
}

.tab-content .inline{
    padding:0.3em
}
// end:panel tabs
