.esri-result-list {
  height: 220px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.esri-result-item {
  padding: 5px;
  border-right: 1px solid $border-grey;
  display: inline-block;
}

.layer-wrapper {
  width:300px;
  @include floatLeft;
  height: 180px;
  overflow:hidden;
  padding: 0 0.5em 0 0;
  @include listUnstyled;
  display: block;
}

.thumbnail {
  width: 110px;
  margin-right: $gutter;
}

.layer-info {
  @include floatLeft;
  display: inline;
  white-space: normal;
  width: 150px;
}

.title {
  color: $black;
  font-size: 1.1em;
  line-height: 110%;
  margin-bottom: $gutter/2;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type {
  line-height: 98%;
  margin-bottom: $gutter/2;
  color: lighten($grey,15%);
  font-size: 0.85em;
}


.details{
  height: 70px;
  overflow: auto;
  width:116%;
  color:$black;
  margin-bottom:7px;

  &.small{
    height: 20px;
    font-size:0.95em;
  }
}
.add{
  overflow:hidden;
  margin-top:$gutter;
}


.btn {
  font-size: 0.8em;
  @include floatLeft;
  margin-left: 0;
}

.layer-search-options {
  ul {
    line-height: 130%;
  }
}
.seemore {
  @include floatRight;
  font-size: 0.9em;
  padding-right: 0.4em;
}

.layer-control {
  h3 {
    @extend .filter-label;
    @include floatLeft;
    margin-top:0;
    margin-right:10px;
    font-size: $default-text-size;
    line-height:23px;
    color: $blue;
    &.color-control{
      width:153px;
    &.value-label{
      line-height:14px;
      }
    &.percent-funding{
      line-height:1px;
      float:none;
      }
    &.cluster-size{
      margin-top:15px;
      position:absolute;
      }
    }
  }
  .ui-slider-pip {
    top: 30px;
    display:none;
  }

  .ui-slider-pip .ui-slider-label {
    top: -18px;
  }

  .title{
    font-size: 1em;
    color: $grey;
    //width:40px;
    margin-top:-22px;
    margin-left:32px;
  }

  .slider-holder{
    position: relative;
    display: block;
    width:245px;
    margin-top:0;
    @include floatLeft;
    .slider{
     margin-left:95px;
     margin-top: 7px;
    }
  }

  .feature-checkbox{
    @include floatLeft;
    margin-top:-5px;
  }

  .updown{
    @include floatLeft;
    margin-right: 5px;
    width:45px;
  }

  .toggler{
     clear:left;

    .toggler-title{
      @include floatLeft;
    }

    .toggler-btn{
      width: 20px;
      @include floatLeft;
      padding-right:100px;
    }

    .updown{
      @include floatLeft;
    }

    .fa{
      color: $blue;
      margin-left:-10px;
    }

  }


  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default{
    background: $yellow;
    @include border-radius(50%);
    @include transitionAll;
    outline:none;
    &:hover{ background: $green;}
  }
  .ui-slider-horizontal{
    .ui-slider-handle{
      margin-top:0.05em;
    }
  }
  .ui-slider-horizontal{
    height:0.8em;
    // needs latest Compass, add '@import "compass"' to your scss
    background: rgb(237,237,237); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(237,237,237,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(237,237,237,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
  }
  .ui-slider-label {
    color: $blue;
  }
  .fa.fa-times{
      position:absolute;
      top:10px;
      right:10px;
    }

  .fa.fa-arrow-down {
    margin-left:$gutter/2;
  }

  .fa.fa-times,
  .fa.fa-arrow-down,
  .fa.fa-arrow-up{
    color: $blue;
    &:hover{ color: $green}
  }

  ul {
    padding-left:5;

    li{
      display:block;
      margin-bottom: 20px;
    }
  }
}

// levels in map content
.horizontal{
	@include floatLeft;
	margin-right:10px;
	margin-top:4px;
}

// styling of layer controls overlay section
.external-layer-control{
  li{
    overflow:hidden;
    padding-top:25px;
    margin-left:39px;
    clear:both;
    .slider-holder{
      margin-left:0;
    }

    .control-wrapper{
    &.transparency{ margin-left:0;}
    }

    .title{
      width:90%;
      margin-left:-10px;

      .control-title{
        font-size:$default-text-size;
        margin:0 0 0 $gutter;
        width:100%;

          .selectable{
            float:left;
            }

        }
    }
  }
  .control-wrapper{
      margin-top:-10px;

      &.transparency{
        clear:both;
        margin: 6px auto 0 $gutter*2.7
      }

    }
}
