.save-map-trigger{
  display:inline;
}
.modal-header{
    padding-bottom: $gutter*2.7;
    .fa.fa-folder-open{
      margin-right:$gutter/2;
    }
}
.modal-body{
  padding:0;

  .form-control{
    @include border-radius(0);
    @include noOutline;
    margin-bottom: $gutter;
    border: 1px solid $border-grey;
    width:100%;
    &:last-child{
      margin-bottom:0;
    }
  }

}
h4{
  &.modal-title{
    @include space-reset;
    @include floatLeft;
    @include textUppercase;
    @include textBold;
    font-size:13px;
    color:$blue;
  }
}
.close-dialog{
  @include floatRight;
  .fa.fa-times-circle-o{
    @include transitionColor;
    color: $green;
    font-size:20px;
    &:hover{ color: $grey}
  }
}

.blue-panel{
  background: lighten($blue, 45);
  padding:$gutter*1.5;
}

.plain-panel{
  padding:20px;
  h4{ margin-bottom: $gutter}
}

.modal-footer{
  border-top: none;
  padding:0 $gutter*1.7 $gutter*1.7 0;
  button{
    margin-left: $gutter;
  }
}

.saved-maps{
  padding:$gutter;
  ul{
    @include space-reset;
    margin-left: -$gutter;
    margin-bottom: $gutter;
  }
  h3{
    @include space-reset;
    @include textUppercase;
    @include textBold;
    font-size:13px;
    color:$blue;
    margin-top:$gutter;
  }
  .panel{
    @include border-radius(0);
    background-color: transparent;
    &.panel-default{border-color: transparent}
    .panel-body{
      padding:0 0 $gutter/2 0;
      font-size:12px;
      color: $blue;
  }

  .pagination{
    li{
      a{
        background-color: $blue;
      }
      &.active{
        a{
          background-color: $green;
        }
      }
    }
  }

    h5{color: $blue}
  }
}
.save-map-actions{
  margin-top:$gutter;
  .fa{
     margin-left: $gutter/1.5;
     font-size:17px;
  }
}
.saved-map-list{
  background: #d7e0e4;
  @include border-radius(3px);
  margin-top:$gutter;
  h4{
    @include textBold;
    font-size:13px;
  }
  .panel{
    -webkit-box-shadow:none;
    box-shadow:none;
    margin-bottom:$gutter/2;
  }
}

// pring map idalog
.dialog-print-map{
  .modal-body{
    padding:20px;
  }
}
.pagination> a{
  border-color: $border-grey;
  color:$black;
  &:hover{
    background-color: darken($green,20%);
  }
}
.pagination > .active > a,
.pagination > .active > a:focus{
  color:$black;
  background-color: $green;
  border-color: $border-grey;
  &:hover{
    background-color: darken($green,20%);
    border-color: $border-grey;
  }
}
