.panel{
  &.panel-save-map{
	  z-index: 10000;
	  bottom: 60%;
	  width: 550px;
    padding:0;
  }

h3{
  @include floatLeft;
  @include space-reset;
  @include textUppercase;
  @include textBold;
  font-size:13px;
  color: $blue;
}
.panel-heading{
  @include clearfix;
  background: none;
}
.panel-body{
  padding: $gutter*2;
  background: lighten($blue, 50);
  .input-group{width:100%;}
  .form-control{
    @include border-radius(0);
    @include noOutline;
    margin-bottom: $gutter;
    border: 1px solid $border-grey;
    width:100%;
  }
  textarea{
    width:100%;
  }
}
.fa.fa-times-circle-o{
  @include floatRight;
  @include transitionColor;
  color: $green;
  font-size:20px;
  &:hover{ color: $grey}
}

}
// panel styles end
