// start: tab panel- search box,filters, activity nav
.tab-panel {
  // wrapps the content pane of each tab
  @include clearfix;
  margin-bottom: $gutter;
  background: rgba(255, 255, 255, 0.8);
  padding: 1em 1.8em;
  overflow:hidden;
}
.tab-content {
  ul {
    list-style: none;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 8px;
  }
  span.btn {
    padding: 0;
  }
}

ul.tabs{
  list-style:none;
  padding-left:0;
}
