// Main Stylesheet

// Box sizing partial styles:
// Apply a natural box layout model to all elements

// Map component
.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.leaflet-top {
  top: 50px;
}