//variables
$black:#000000;
$bgBlack:#242a2d;
$grey:#454545;
$green:#98ca68;
$blue:#4d749f;
$bgblue:#74a4d6;
$white:#ffffff;
$gutter: 1em;
$base-font-family: 'Open Sans', sans-serif;
$base-line-height: 110%;

//mixins
@mixin bgLayout{background-color: rgba(0,0,0,0.7);}
@mixin topbottomContainer{padding-left:$gutter*3;width:100%;} //inner container widths in header and footer
@mixin floatLeft{ float:left;}
@mixin floatRight{ float:right;}
@mixin clearfix{ clear:both;}
@mixin textMedium{font-size:1.5rem}
@mixin textLarge{font-size:1.8rem}
@mixin textBold{font-weight:bold}
@mixin textUppercase{text-transform: uppercase}
@mixin textCenter{text-align:center}
@mixin opacityHigh{opacity: 0.8}

// opacity transition
@mixin transitionOpacity {
  -webkit-transition: opacity 600ms ease;
  -moz-transition: opacity 600ms ease;
  -o-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
}
// color transition
@mixin transitionColor {
  -webkit-transition: color 600ms ease;
  -moz-transition: color 600ms ease;
  -o-transition: color 600ms ease;
  transition: color 600ms ease;
}
// transition for all
@mixin transitionAll {
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

@mixin transitionSliderOn{
  -webkit-transition: width 1s ease; /* For Safari 3.1 to 6.0 */
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s;
    width: 700px;
}

@mixin transitionSliderOff{
  -webkit-transition: width 1s ease; /* For Safari 3.1 to 6.0 */
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
  width: 0px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin button {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  padding: 4px 55px;
  margin: 10px 0 10px 10px;
  @include textCenter;
  @include textUppercase;
  @include transitionAll;
}

body{
  color:$grey;
  font-family:$base-font-family;
  overflow-x: hidden!important;
  font-size: 15px;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

#app-wrapper{
  height: 100%;
}


a{
  text-decoration:none;
  &:hover{text-decoration:none;}
}

// icons
.fa{
  display:inline-block;
}

i.fa.fa-bars{
  color: $white;
  @include textLarge;
  &:hover{
    color:#74a4d6;
  }
}

i.fa.fa-globe{
  color:saturate(darken($blue, 16), 20);
  margin-right: $gutter/2;
  @include textLarge;
}

i.fa.fa-search{
  color: lighten($blue,20%);
  font-size:16px;
  margin-top:2px;
  &:hover{color: darken($blue, 10%);
  }
}

.glyphicon.glyphicon-chevron-right{
  margin-right:5px;
}

// header area
.map-header{
  @include bgLayout;
  z-index:1001;

  .container{
    @include topbottomContainer;
  }
}

h1{
  @include floatLeft;
  @include textLarge;
  @include textBold;
  color: $white;
  text-transform:uppercase;
  margin-top:0.7em;
}

h2{
  color:$white;
  @include textMedium;
  @include textBold;
  display:inline-block;
  line-height: $base-line-height/2;
}

.header-nav{
  @include floatRight;
  @include textBold;
  @include textMedium;
  margin-top:$gutter;

  a{ color: saturate(lighten( $blue, 35), 65);
     @include transitionColor;
  &:hover{color:$white}
   }
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


// map
#map-container{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: $white;
}

.map-border{
  width:$gutter*4;
  height:100%;
  position:absolute;
  z-index: 1001;
  background: $black;
  @include opacityHigh;
}

.map-border-right{
  @extend .map-border;
  top:3.65em;
  right:0;
  position:fixed;

} //remove the right border in responsive

.map-border-bottom{
  @extend .map-border;
  bottom:$gutter*5;
  right:0;
  width:100%;
  height: $gutter*4;
}

//footer
.map-footer{
  background:$white;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  padding:$gutter/2;

  .container{
    @include topbottomContainer;
    padding-left: $gutter*2;
  }
}

.navbar-brand{
  padding:0;
  float: none;
  font-size: inherit;
}

.logo{
  width:8em;
  margin:0;
  &:hover{
    @include opacityHigh;
    @include transitionOpacity;
  }
}

//left bar toggle
#sidebar-wrapper{
  width:$gutter*3;
  z-index:1002;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  height:100%;
  position:fixed;
  top:50px;

    .panel-toggle{
      top:47%;
      margin-left:30%;
      position:absolute;
    }
}


.slider_content{
   width: 750px;
   overflow: hidden;
   height: 100%;
   position: absolute;
   left: 42px;
   top:-3px;
   @include transitionOpacity;
  .fixed{
      width: 485px;
      margin: 3px;
      padding: 5px;
      height: 100%;
      overflow: hidden;
      background-color:#FFF;
  }
}



.slider-enter {
   overflow: hidden;
   width: 0px;

}

.slider-enter.slider-enter-active {
   @include transitionSliderOn

}

.slider-leave {
   @include transitionSliderOff
}

.slider-leave.slider-leave-active {
    width: 0px;
}

.basemap-selector{
  width: 485px;
  overflow: hidden;
}

.basemap-option-selected {
  cursor: pointer;
  font-weight: bold;
}

.basemap-option {
  cursor: pointer;
}

//map panel
#map-panel{
  width:700px;
  position:absolute;
  z-index: 1;
  padding:15px;
  background: $white;
  background: rgba( white, 0.8);
}

.map-panel-header{
   margin:0 0 $gutter 0;
   padding-bottom:$gutter/2;
   border-bottom: 1px solid lighten( $grey, 50% );
   overflow:hidden;
}

.map-panel-label{
  @include textBold;
  @include textUppercase;
  font-size:1.2rem;
}

// includes views and predefined maps
.basemap-label{
      @extend .map-panel-label;
      @include floatLeft;
      color: saturate(darken($blue, 16), 20);
      margin-right:$gutter;
    }

 .predefined-maps{
    @extend .map-panel-label;
    @include floatRight;
    @include transitionColor;

    a{
      color:darken($green, 30%);
      &:hover{color:$green;}

    }



    }
// end:predefined maps

//start: basemap nav
ul.basemap-list{
  @include floatLeft;
  list-style:none;
  padding-left:0;
  margin-top:7px;
  margin-left:7px;

  li{
    @include floatLeft;
    @include transitionColor;
    margin-right:$gutter;
    border-right:1px solid $black;
    padding-right: $gutter;
    height:12px;
    font-size:1.1rem;
    line-height:85%;

    &:hover{
      color: saturate(lighten($blue, 16), 20);
    }

    &:last-child{
      border-right:none;
    }

  }

  a{
    color: $black;
    @include transitionColor;

    &:hover{
      color:lighten($blue, 10%);
    }
  }// ends: a
}// ends: ul




// start: panel tabs

nav.tab-navigation, nav.tabs{
  @include clearfix;
  margin: $gutter 0;
  overflow: auto;
  padding:0;
}
.nav-tabs{
  border-bottom:none;
  margin-bottom:1px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  color: saturate(lighten($blue, 1), 20);
  background: none;
  border:1px solid transparent;
}

.tabs>li{
  @include floatLeft;
  @include textCenter;
  @include textUppercase;
}

.tabs>li a{
  padding:8px 20px;
  color: lighten($grey,20%);
  border:1px solid lighten($grey,50%);
  background: lighten($grey,58%);
  font-size:1.3rem;
  outline:none;
  @include border-radius(1px);
  @include transitionAll;
  &:hover{
    color: saturate(lighten($blue, 1), 20);
    border:1px solid transparent;
    background:none;
  }
}
// end:panel tabs



// start: tab panel- search box,filters, activity nav
.tab-panel{
  // wrapps the content pane of each tab
  @include clearfix;
  margin-bottom: $gutter;
}

.tab-content{
  ul{list-style:none}
  input[type="checkbox"], input[type="radio"]{
    margin-right:8px;
  }
  span.btn{
    padding:0;

  }
}

// activity navigation
.activity-nav{
  @include clearfix;
  overflow: hidden;
  margin: $gutter 0 $gutter/2 0;
}

.activity-label{
  @extend .map-panel-label;
  @include floatLeft;
  margin-right:$gutter;
}

nav.activities{
  height: 30px;
}

ul.activities{
  @extend .basemap-list;

  li{
  font-size:1.2rem;
  margin-right:5px;
  padding-right:5px;

  a{
    color: lighten($grey, 25%);
    padding-top:0;
    padding-bottom:0;
    line-height:80%;
    &:hover, &:focus{
      color: darken($blue,25%);
      background:none;
      border:none;
      outline:none;
    }
  }

  &.active a{
    color: darken($blue,25%);
    @include textBold;
    background:none;
    outline:none;
    }
  }

}


//start: text search box
.text-search-wrapper{
  @include clearfix;
  @include transitionAll;
  background: $white;
  border:1px solid lighten( $grey, 50% );
  margin-top: $gutter;

  &:hover{
    border:1px solid lighten( $blue, 20% );
  }

  input[type=text]{
    border:none;
    outline:none;
    width:95%;
    padding:0.3em;
    }
}

.search-box{ background: $white}
.search-button{
  @include floatLeft;

  button{
    -webkit-appearance:none;
    webkit-appearance: caret;
    border:none;
    background:none;
    width:30px;
    height:30px;
  }
}// end: text search box


// filters
.filter-group-panel-container{
  width:395px;
}
.filter-group-panel{
  opacity: 0.4;
  background:$white;
  padding: $gutter;
  margin-top: $gutter;
  height:385px;
  @include border-radius(2px);
  border:1px solid lighten($grey,60%);
  //selected active filter panel
  &.selected{@include opacityHigh}

}

.filter-group-panel-header{
  @include clearfix;
}
.panel-count{
  color: $white;
  background: $blue;
  -webkit-border-radius: 50%;
  -moz-border-radius:  50%;
  border-radius: 50%;
  display:inline-block;
  width:30px;
  height:30px;
  line-height:190%;
  margin-right: $gutter/2;
  @include textCenter;
  @include textBold;
}
.filter-count{
  color: $blue;
  @include textBold;
}
.filter-label{
  font-size:1.3rem;
  margin-left:7px;
}
.filter-selectors{
  @include floatRight;
  font-size:1.1rem;
  font-style:italic;
  margin-top:9px;
}


//activity overview section
.overview-label{
  @extend .map-panel-label;
  color: $blue;
}

// filter list
.filter-list-container{
   margin-top:$gutter;
   max-height: 260px;
   overflow-y: auto;
}

ul.filter-list{
  list-style:none;
  padding-left:0;

  li{
    color:darken($blue,10%);
    font-size:1.4rem;
    display:block;
    &:hover{font-weight:bold;}
    &:hover .glyphicon.glyphicon-stop:before{
      color: #e9ba00;
    }
  }
}


//filter input with glyphicon
.select{
    width:12px;
    height:12px;
    border:1px solid lighten($grey,30%);
    @include border-radius(2px);
    padding:0;
    margin:0 10px 0 0;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.glyphicon.glyphicon-stop{
    width:12px;
    height:12px;
    margin:0;
    position:absolute;
    left:-2px;
    top:-3px;
    display:block;
}

.glyphicon.glyphicon-stop:before {
    visibility: visible;
    color: $white;
}
.glyphicon.glyphicon-stop:checked:before {
    color: #e9ba00;
}
input[type=checkbox].glyphicon{
    visibility: hidden;
}


// filter breadcrumbs
.filter-breadcrumb{
  background:lighten($blue,20%);
  padding: $gutter/3;
  color: $white;
  font-size:1.3rem;
  @include textBold;
  @include transitionAll;

  &:hover{ background:$blue;
}

  .filter-count{
    color: $white;
    @include floatRight;
  }

}

.button-pane{
   margin: $gutter 0;
   overflow:hidden;
}

.btn-apply{
  @include button;
  color: $white;
  background: $green;
  @include floatRight;
  &:hover{
    background: darken($green,19%);
    color:$white;
  }
}

//map controls
.leaflet-top{
  top:$gutter*4;
}

// responsive
$breakTablets: 786px;
$breakPhones: 767px;

@media only screen and (min-device-width : $breakTablets) and (max-device-width : 1024px) {
  /*tablets*/
  h2{ margin-left:0;}
}

@media only screen and (max-width:$breakPhones) {
    /* phones */
    h1, h2 {padding-left:$gutter; font-size:1rem}
    h2{ margin-left:0}
}

@media only screen and (max-width:$breakPhones) and (orientation: portrait) {
    /* portrait phones */
    h1, h2 {width:100%}
    h2{ margin-left:0; margin-top:0}
    .header-nav{ margin-bottom:$gutter}
}
