@import url(print.css);
html {
  font-family: "Open Sans", sans-serif; }

body {
  color: #454545;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden !important;
  font-size: 13px;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  min-height: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:focus {
    outline: none;
    text-decoration: none; }

.fa {
  display: inline-block; }

i.fa.fa-bars {
  color: #ffffff; }
  i.fa.fa-bars:before {
    font-size: 2.5rem; }
  i.fa.fa-bars:hover {
    color: #e9ba00; }

i.fa.fa-globe {
  color: #234b77;
  margin-right: 0.5em;
  font-size: 1.8rem; }

i.fa.fa-search {
  color: #8ba8c7;
  font-size: 16px;
  margin-top: 2px; }
  i.fa.fa-search:hover {
    color: #3c5b7d; }

.glyphicon.glyphicon-chevron-right {
  margin-right: 5px; }

.collapsed {
  display: none; }

.collapse-icon {
  cursor: pointer;
  padding: 11px 0 11px 0;
  font-size: 0.9em;
  margin-left: 1em; }
  .collapse-icon:hover {
    color: #98ca68; }

.clickeable {
  cursor: pointer; }

.inline {
  display: inline-flex; }

.bs-callout-info {
  border-left-color: #f00; }

.bs-callout {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 1em;
  margin: 20px 0;
  border: 1px solid #eeeeee;
  border-left-width: 5px;
  background: rbga(255, 255, 255, 0.6); }
  .bs-callout img {
    margin-right: 1em; }

.img-centered {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
  padding-right: 0;
  padding-left: 0; }

#app-wrapper {
  height: 100%;
  font-family: "Open Sans", sans-serif; }

.map-header {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001; }
  .map-header .container {
    padding-left: 3em;
    width: 100%; }

h1 {
  float: left;
  font-weight: bold;
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 1em; }

h2 {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block;
  line-height: 110%;
  margin-top: 1.2em;
  margin-left: 0.4em; }

.header-nav {
  float: right;
  text-transform: uppercase;
  margin-top: 0.3em; }
  .header-nav li {
    border-left: 1px solid #a0cdff;
    float: left;
    margin-right: 13px;
    white-space: nowrap; }
  .header-nav a {
    color: #a0cdff;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
    font-size: 1em;
    line-height: 1.74em;
    padding-left: 0.58824em; }
    .header-nav a:hover {
      color: #ffffff; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

#map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  background: #ffffff; }

.map-border, .map-border-right, .map-border-bottom {
  width: 4em;
  height: 100%;
  position: absolute;
  z-index: 1001;
  background: #000000;
  opacity: 0.8; }

.map-border-right {
  top: 3.65em;
  right: 0;
  position: fixed; }

.map-border-bottom {
  bottom: 5em;
  right: 0;
  width: 100%;
  height: 4em; }

.map-footer {
  background: #ffffff;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
  padding: 0.5em; }
  .map-footer .container {
    padding-left: 3em;
    width: 100%;
    padding-left: 2em; }

.navbar-brand {
  padding: 0;
  float: none;
  font-size: inherit; }

.logo {
  width: 15em;
  margin: 0; }
  .logo:hover {
    opacity: 0.8;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }

#sidebar-wrapper {
  width: 3.5em;
  z-index: 1002;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: fixed;
  top: 50px; }
  #sidebar-wrapper .panel-toggle {
    top: 40%;
    margin-left: 22%;
    position: absolute;
    cursor: pointer; }

.slider_content {
  display: none;
  width: 705px;
  height: 88%;
  overflow: hidden;
  position: absolute;
  left: 42px;
  top: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
  .slider_content .fixed {
    width: 485px;
    margin: 0 auto 0 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #fff; }

.slider-enter {
  overflow: hidden;
  width: 0; }

.slider-enter.slider-enter-active {
  -webkit-transition: width 1s ease;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s;
  width: 700px; }

.slider-leave {
  -webkit-transition: width 1s ease;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
  width: 0px; }

.slider-leave.slider-leave-active {
  width: 0; }

#map-panel {
  width: 700px;
  position: absolute;
  z-index: 1;
  padding: 10px 7px 5px 12px;
  background: rgba(221, 230, 234, 0.9);
  overflow: auto;
  height: 102%; }

ul.tabbed {
  margin-left: 13px; }

.h-divider {
  border: none;
  height: 1px;
  background: #dedede;
  width: 99%;
  display: block;
  margin: 1em auto; }

.loader {
  position: absolute;
  left: 50%;
  top: 40%; }

.fa.fa-spinner {
  color: #98ca68;
  font-size: 2em; }

.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #dde6ea; }

@media only screen and (min-device-width: 786px) and (max-device-width: 1024px) {
  /*tablets*/
  h2 {
    margin-left: 0; } }
@media only screen and (max-width: 767px) {
  /* phones */
  h1,
  h2 {
    padding-left: 1em;
    font-size: 1rem; }

  h2 {
    margin-left: 0; } }
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  h1,
  h2 {
    width: 100%; }

  h2 {
    margin-left: 0;
    margin-top: 0; }

  .header-nav {
    margin-bottom: 1em; } }
.bs-callout {
  padding: 10px;
  margin: 10px 0;
  background: #f8f8f8;
  border: 1px solid #dedede;
  border-left-width: 2px; }

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code {
  border-radius: 3px; }

.bs-callout + .bs-callout {
  margin-top: -5px; }

.bs-callout-default {
  border: 1px solid #dedede; }

.bs-callout-default h4 {
  color: #777; }

.bs-callout-primary {
  border-left-color: #a0cdff; }

.bs-callout-primary h4 {
  color: #428bca; }

.bs-callout-success {
  border-left-color: #98ca68; }

.bs-callout-success h4 {
  color: #98ca68; }

.bs-callout-danger {
  border-left-color: #d9534f;
  color: #d9534f; }

.bs-callout-danger h4 {
  color: #d9534f; }

.bs-callout-warning {
  border-left-color: #f0ad4e; }

.bs-callout-warning h4 {
  color: #f0ad4e; }

.bs-callout-info {
  border-left-color: #4d749f; }

.bs-callout-info h4 {
  color: #5bc0de; }

.bs-callout-simple {
  border-left-color: none;
  background: none;
  color: #4d749f;
  display: block;
  padding: 0;
  margin: 3px auto 0 10px; }

.filter-no-results {
  color: #d9534f;
  padding: 0 10px 15px 10px;
  margin: 10px 0;
  background: #f8f8f8;
  border: 1px solid #dedede;
  border-left: 3px solid #d9534f; }

.filter-no-results h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.filter-no-results p:last-child {
  margin-bottom: 0; }

.activity-nav {
  overflow: hidden;
  margin-left: 1px; }
  .activity-nav:after {
    content: "";
    display: table;
    clear: both; }

.filter-type-wrapper {
  overflow: hidden;
  margin-top: 0.83333em; }
  .filter-type-wrapper ul.filter-type-label {
    padding-left: 15px; }
    .filter-type-wrapper ul.filter-type-label li {
      float: left;
      padding-left: 0;
      list-style: none;
      margin-right: 1em;
      height: 20px;
      margin-bottom: 1em; }
      .filter-type-wrapper ul.filter-type-label li:first-child {
        border-right: 1px solid #ababab;
        padding-right: 1em;
        margin-right: 1em; }
      .filter-type-wrapper ul.filter-type-label li span {
        color: #454545;
        font-size: 0.9em;
        line-height: 10%;
        cursor: pointer; }
        .filter-type-wrapper ul.filter-type-label li span:hover, .filter-type-wrapper ul.filter-type-label li span.active {
          color: #4d749f; }
      .filter-type-wrapper ul.filter-type-label li .fa {
        margin-right: 0.5em;
        font-size: 0.8em;
        line-height: 110%; }

nav.activities {
  overflow: hidden; }

ul.activities {
  margin-top: 1em; }
  ul.activities li {
    padding-left: 0;
    list-style: none;
    font-size: 1.20rem;
    float: left;
    margin-right: 0.5em;
    margin-bottom: 1.2em; }
    ul.activities li a {
      color: #8d8d8d;
      line-height: 80%;
      padding: 0;
      border-radius: 0;
      display: inline;
      margin-right: 0px;
      -webkit-transition: all 100ms ease;
      -moz-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      transition: all 100ms ease;
      background: #ebebeb;
      padding: 0.3em 0.7em;
      border: 1px solid #c5c5c5; }
      ul.activities li a:hover {
        color: #4d749f; }
      ul.activities li a.active, ul.activities li a:focus {
        background: none;
        border: 1px solid transparent;
        outline: none;
        line-height: 85%;
        cursor: pointer; }

.basemap-selector {
  width: 485px;
  overflow: hidden;
  background: #800; }

.basemap-option-selected {
  cursor: pointer;
  color: #4d749f; }

.basemap-option {
  cursor: pointer; }

.map-panel-header {
  margin: 0 0 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #d1d1d1;
  overflow: hidden;
  width: 98%; }

.map-panel-label, .filter-type-wrapper ul.filter-type-label li, .basemap-label, .predefined-maps, .overview-label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem; }

.basemap-label {
  float: left;
  color: #234b77;
  margin-right: 1em; }

.predefined-maps {
  float: right;
  -webkit-transition: color 600ms ease;
  -moz-transition: color 600ms ease;
  -o-transition: color 600ms ease;
  transition: color 600ms ease; }
  .predefined-maps a {
    color: #4c7128; }
    .predefined-maps a:hover {
      color: #98ca68; }

ul.basemap-list {
  float: left;
  padding-left: 0;
  list-style: none;
  margin-top: 6px;
  margin-left: 7px;
  margin-bottom: 7px; }
  ul.basemap-list li {
    float: left;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid #000000;
    height: 12px;
    font-size: 1.1rem;
    line-height: 85%;
    cursor: pointer;
    color: #000000; }
    ul.basemap-list li:hover {
      color: #2472c8; }
    ul.basemap-list li:last-child {
      border-right: none; }
  ul.basemap-list a {
    color: #4d749f;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease; }
    ul.basemap-list a:hover {
      color: #4d749f; }

.button-pane {
  overflow: hidden;
  padding-bottom: 1em;
  padding-top: 0.5em;
  padding-right: 2.8em;
  float: right; }

.btn, .btn-apply, button.layer-search,
.btn-primary {
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 8px 35px;
  text-transform: uppercase; }
  .btn:focus, .btn-apply:focus, button.layer-search:focus,
  .btn-primary:focus {
    outline: none; }

.btn-primary {
  background-color: #98ca68;
  border-color: #98ca68; }
  .btn-primary:focus, .btn-primary:hover, .btn-primary.active, .btn-primary.focus {
    background-color: #659735;
    border-color: #659735; }

.btn-apply, button.layer-search,
.btn-primary {
  color: #ffffff;
  background: #98ca68;
  float: right;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  font-weight: bold;
  outline: none;
  margin-left: 1em; }
  .btn-apply:hover, button.layer-search:hover,
  .btn-primary:hover {
    background: #659735;
    color: #ffffff; }
  .btn-apply.space-left, button.space-left.layer-search,
  .btn-primary.space-left {
    margin-left: 1em; }

.leaflet-top {
  top: 4em; }

.m-scaled .m-item {
  opacity: 0.15;
  padding: 10px; }

.m-scaled .m-active {
  opacity: 1;
  box-shadow: none;
  z-index: 1; }

.m-center {
  overflow: visible; }

.m-center:not(.m-fluid) > .m-scooch-inner > * {
  background: #ffffff;
  width: 570px;
  margin-left: -25px; }
  .m-center:not(.m-fluid) > .m-scooch-inner > * .filter-label, .m-center:not(.m-fluid) > .m-scooch-inner > * .layer-control h3, .layer-control .m-center:not(.m-fluid) > .m-scooch-inner > * h3 {
    font-size: 0.9em;
    color: #454545; }
  .m-center:not(.m-fluid) > .m-scooch-inner > * .filter-selectors {
    margin-top: 10px; }
  .m-center:not(.m-fluid) > .m-scooch-inner > * .filter-count {
    margin-top: 5px;
    font-size: 0.9em; }

.m-fade-out {
  -webkit-mask-image: none; }

.m-scooch-controls {
  margin-left: -15px;
  position: absolute;
  top: 90px;
  font-size: 40px;
  z-index: 0;
  cursor: pointer;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }
  .m-scooch-controls:hover {
    text-decoration: none;
    color: #98ca68; }
  .m-scooch-controls a {
    outline: none;
    text-decoration: none; }
  .m-scooch-controls.right {
    right: -15px; }
  .m-scooch-controls.left {
    left: -8px; }

.scooch-prev {
  float: left;
  z-index: 300; }

.scooch-next {
  float: right;
  z-index: 300; }

.scooch-disabled {
  display: none; }

.btn-default {
  border-color: #eeeeee; }
  .btn-default:hover {
    background: #eeeeee;
    border-color: #eeeeee; }

.btn-default[disabled] {
  background: #98ca68;
  color: #d8ebc6; }
  .btn-default[disabled]:hover {
    background: #98ca68;
    color: #ffffff; }

button.layer-search {
  padding: 5px;
  float: right;
  margin-left: 0; }

.marker {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-color: rgba(253, 154, 0, 0.8);
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.6), 0 0 0 4px rgba(255, 88, 1, 0.4), 0 0 0 8px rgba(242, 129, 0, 0.24); }
  .marker .number {
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center; }
    .marker .number span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font: "Open Sans", sans-serif; }

.selectable-radio, .selectable, .selectable-disabled {
  border-radius: 0% !important;
  background-clip: none;
  font-size: 1.5em !important;
  width: 5px;
  height: 5px;
  border: 1px solid #cccccc;
  background: #ffffff;
  float: left;
  margin-right: 0.2em;
  margin-top: 1px;
  width: 12px;
  height: 12px; }
  .selectable-radio .fa, .selectable .fa, .selectable-disabled .fa {
    font-size: 0.7em;
    margin-left: 2px;
    margin-top: -2px;
    float: left; }

.selectable-disabled {
  background: #dddddd; }

.filter-breadcrumb {
  background: #8ba8c7;
  padding: 0.33333em;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }
  .filter-breadcrumb:hover {
    background: #4d749f; }
  .filter-breadcrumb .filter-count {
    color: #ffffff;
    float: right; }

.filter-group-panel-container {
  width: 395px; }

.filter-group-panel {
  opacity: 0.4;
  padding: 1em 1em 1em 1em;
  height: 300px;
  overflow: visible; }
  .filter-group-panel.selected {
    opacity: 1; }

.filter-group-panel-header {
  margin-bottom: 0.5em; }

.panel-count {
  color: #ffffff;
  background: #74a4d6;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 270%;
  margin-right: 0.5em;
  text-align: center;
  font-weight: bold;
  line-height: 175%; }

.filter-count {
  font-weight: bold;
  color: #74a4d6;
  display: inline;
  line-height: 160%;
  padding-left: 7px; }
  .filter-count a {
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    color: #4d749f; }
    .filter-count a:hover {
      color: #98ca68; }

.filter-label, .layer-control h3 {
  font-size: 1.2em;
  color: #454545; }

.filter-selectors {
  float: right;
  font-size: 1.2rem;
  line-height: 80%;
  font-style: italic;
  margin-top: -10px;
  margin-right: 0.33333em; }
  .filter-selectors a {
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    color: #4d749f; }
    .filter-selectors a:hover {
      color: #98ca68; }

.filter-list-container-carousel .filter-col, .filter-list-container-carousel .filter-col-parent, .filter-list-container-carousel .filter-multilevel-col {
  width: 97%; }
.filter-list-container-carousel .filter-col-parent {
  float: none;
  height: auto;
  line-height: 100%;
  margin-left: 5px; }

.filter-list-container, .filter-list-container-carousel {
  margin-top: 1em;
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.1em 0 0.7em 0; }

.filter-list-container-carousel {
  height: 210px;
  overflow-x: hidden;
  font-size: 0.7em; }

ul.filter-list {
  padding-left: 0;
  list-style: none;
  display: block;
  margin-top: 1em;
  margin-left: 5px;
  overflow: hidden; }
  ul.filter-list li {
    color: #454545;
    font-size: 110%; }
    ul.filter-list li span {
      margin-bottom: 0.25em;
      line-height: 1.3em;
      padding-right: 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

.select {
  width: 12px;
  height: 12px;
  border: 1px solid #929292;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 0;
  margin: 0 10px 0 0;
  position: relative;
  display: inline-block;
  overflow: hidden; }

.glyphicon.glyphicon-stop {
  width: 12px;
  height: 12px;
  margin: 0;
  position: absolute;
  left: -3px;
  top: -4px;
  display: block; }

.glyphicon.glyphicon-stop:before {
  visibility: visible;
  color: #ffffff; }

.glyphicon.glyphicon-stop:checked:before {
  color: #e9ba00; }

input[type=checkbox].glyphicon {
  visibility: hidden; }

.fade {
  opacity: 0.9; }

.filter-parent {
  display: inline-flex;
  background: #f8f8f8;
  border: 1px solid #dedede;
  padding: 0.5em 0.5em 0.2em 0.5em;
  margin-bottom: -1px; }
  .filter-parent:hover {
    opacity: 0.8; }
  .filter-parent .selectable, .filter-parent .selectable-radio, .filter-parent .selectable-disabled {
    margin: 0.4em 0.4em 0 0.4em; }

.filter-col, .filter-col-parent, .filter-multilevel-col {
  width: 260px;
  float: left;
  display: inline-flex;
  margin-right: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.filter-col-parent {
  width: 545px;
  font-weight: bold;
  color: #787878;
  line-height: 2.2em;
  font-size: 12px;
  height: 30px;
  position: relative; }

.fa.fa-minus,
.fa.fa-plus {
  float: right; }

.children-count {
  margin-left: 0.4em; }

.parent-toggle {
  cursor: pointer;
  position: absolute;
  right: 0.16667em;
  font-style: italic;
  font-size: 0.8em;
  line-height: 2.9em;
  width: 95%; }
  .parent-toggle:hover {
    color: #98ca68; }
  .parent-toggle .toggle-label {
    float: right; }

.hasDatepicker {
  position: relative;
  z-index: 10000 !important; }

.input-group {
  width: 100%; }
  .input-group.date {
    margin-top: 2em;
    margin-bottom: 1.5em; }
    .input-group.date:last-child {
      margin-top: 0; }

.input-group-addon {
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  background-color: transparent;
  border: 0px solid #e1e8f0; }

.start-date,
.end-date {
  outline: none;
  float: right;
  padding: 0.5em;
  margin-top: -3px;
  width: 205px; }

.clear-dates {
  width: 205px;
  float: right !important; }

.fa-trash {
  font-size: 1.2em;
  float: right;
  margin-right: 0.5em;
  margin-top: 0.35714em;
  color: #4d749f; }
  .fa-trash:hover {
    color: #98ca68; }

.ui-widget-header {
  background: none;
  border: none; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #98ca68;
  border: 1px solid #98ca68;
  color: #000000; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: #e9ba00;
  border: 1px solid #e9ba00;
  color: #000000; }

.ui-datepicker table {
  font-size: 1em;
  font-family: "Open Sans", sans-serif; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.ui-datepicker-month {
  margin-right: 10px; }

.ui-datepicker .ui-datepicker-title select {
  margin: 1px 3px 0 3px;
  border: 1px solid #ffffff;
  background: #eeeeee;
  font-size: 1em;
  padding: 4px;
  outline: none; }

.item-label {
  cursor: pointer; }

.label-selected {
  font-weight: bold;
  color: #454545; }

.trace-item-label {
  font-size: 0.8em;
  color: #454545;
  font-style: normal;
  float: left; }

.filters-more {
  float: left;
  color: #4d749f;
  font-style: italic;
  cursor: pointer; }
  .filters-more:hover {
    color: #454545; }

.parent-trace-list li {
  float: left;
  padding: 0 5px 0 0;
  margin-right: 5px;
  line-height: 1.2em; }
.parent-trace-list li:after {
  font-family: FontAwesome;
  content: "\f101";
  color: #4d749f; }
.parent-trace-list li:first-child:after,
.parent-trace-list li:last-child:after {
  content: ""; }

.filter-multilevel-col {
  width: 550px;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 10px; }

.advanced-main-item {
  width: 100%;
  padding-bottom: 6px; }
  .advanced-main-item .item-label {
    width: 100%;
    font-size: 0.9em;
    color: #000000;
    margin-left: -1em;
    margin-bottom: 0; }
    .advanced-main-item .item-label:after {
      content: "";
      display: table;
      clear: both; }

.multi-levels {
  margin-top: -7px;
  margin-bottom: 10px; }

.show-selected {
  margin-top: 10px; }

nav.tab-navigation,
nav.tabs {
  margin: 0; }
  nav.tab-navigation:after,
  nav.tabs:after {
    content: "";
    display: table;
    clear: both; }

.nav-tabs {
  border-bottom: none; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: none;
  border: 1px solid transparent;
  color: #4d749f;
  font-weight: bold; }

.main-tabs .nav-tabs li:first-child a:before {
  font-family: FontAwesome;
  content: '\f041';
  color: #4d749f;
  margin-right: 5px; }

.main-tabs .nav-tabs li:last-child a:before {
  font-family: FontAwesome;
  content: '\f0ac';
  color: #4d749f;
  margin-right: 5px; }

.main-tabs .nav-tabs li.filtertab a:before {
  font-family: FontAwesome;
  color: #4d749f;
  margin-right: 5px;
  content: '\f0b0'; }

.main-tabs .nav-tabs li a {
  background: #ededed;
  font-weight: 600;
  color: #454545; }

.main-tabs .nav-tabs li.active a {
  background: rgba(242, 246, 247, 0.6);
  border: 1px solid transparent;
  margin-bottom: 1px; }

.tabs > li {
  float: left;
  text-align: center;
  text-transform: uppercase; }

.tabs > li a {
  padding: 8px 19px 8px 15px;
  color: #9e9e9e;
  border: 1px solid transparent;
  background: #d4d4d4;
  font-size: 1.2rem;
  outline: none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }
  .tabs > li a:hover {
    color: #4d749f;
    border: 1px solid transparent;
    background: #ffffff; }

.tab-pane.active {
  padding: 0.55em 0; }

.tab-pane.fade.active {
  background: none; }

.tab-content {
  background: rgba(242, 246, 247, 0.6); }

.tab-content .inline {
  padding: 0.3em; }

.overview-pane {
  padding-right: 10em; }

.overview-label {
  color: #4d749f; }

.stat-container {
  margin: 1em 0; }

ul.overview-stats {
  padding-left: 0;
  list-style: none; }
  ul.overview-stats li {
    color: #4d749f;
    line-height: 176%; }

.stat {
  color: #454545;
  font-size: 17px; }

.text-search-wrapper {
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }
  .text-search-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .text-search-wrapper input[type=text] {
    border: 1px solid #fff;
    outline: none;
    width: 93%; }

.search-box {
  background: #ffffff;
  border: 1px solid #c5c5c5;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  padding-bottom: 3px; }
  .search-box:hover {
    border: 1px solid #bfcee0; }

button.search-button {
  background: #ffffff;
  border: 1px solid #ffffff;
  -webkit-appearance: none;
  outline: none; }

.layer-search-wrapper {
  margin-bottom: 1em; }
  .layer-search-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.layer-search-options {
  padding-top: 0.7em;
  padding-bottom: 0.5em; }
  .layer-search-options ul {
    padding-left: 0;
    list-style: none; }
    .layer-search-options ul:after {
      content: "";
      display: table;
      clear: both; }
    .layer-search-options ul li {
      float: left;
      margin-right: 2em;
      position: relative; }

.selectable, .selectable-radio, .selectable-disabled {
  width: 10px;
  height: 10px;
  border: 1px solid #cccccc;
  background: #ffffff;
  float: left;
  margin-right: 0.5em;
  margin-top: 3px; }
  .selectable:hover, .selectable-radio:hover, .selectable-disabled:hover {
    background: #ffe683; }
  .selectable.selected, .selected.selectable-radio, .selected.selectable-disabled {
    background: #e9ba00; }

.selectable-radio, .selectable, .selectable-disabled {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  width: 12px;
  height: 12px; }

.layer-label {
  float: left;
  line-height: 100%; }

.disabled {
  z-index: 1000;
  opacity: 0.6;
  pointer-events: none; }

.tab-panel {
  margin-bottom: 1em;
  padding: 1em 1.8em;
  overflow: hidden; }
  .tab-panel:after {
    content: "";
    display: table;
    clear: both; }

.tab-content {
  min-height: 330px;
  height: auto;
  overflow: hidden;
  width: 99%;
  padding: 0 1em 0.5em 1em; }
  .tab-content ul {
    list-style: none; }
  .tab-content input[type="checkbox"],
  .tab-content input[type="radio"] {
    margin-right: 8px; }
  .tab-content span.btn, .tab-content span.btn-apply,
  .tab-content span.btn-primary {
    padding: 0; }

ul.tabs {
  list-style: none;
  padding-left: 0; }

.subactivities-container {
  height: 240px; }

.subactivities-list {
  overflow-y: scroll;
  height: 205px;
  width: 420px; }
  .subactivities-list ul {
    padding-left: 0;
    list-style: none;
    border-top: 1px solid #eee;
    margin-top: 5px;
    padding-top: 5px; }

.popup-loading-container {
  height: 240px;
  padding-left: 175px;
  padding-top: 80px; }

.sub-activities-title {
  color: #4278AA;
  font-size: 14px;
  margin-top: 10px; }

.indicator-search .title {
  font-weight: bold;
  color: #4d749f;
  padding-bottom: 0.5em;
  display: inline-block; }
.indicator-search select {
  outline: none; }
  .indicator-search select.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0 !important;
    -webkit-appearance: none;
    height: 32px; }
.indicator-search .blue-panel {
  padding: 1.2em 3em; }
.indicator-search .finder {
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-top: 0; }
  .indicator-search .finder ul {
    padding-left: 0;
    list-style: none;
    margin-left: -8px; }
    .indicator-search .finder ul li {
      margin-right: 10px; }
.indicator-search input[type='text'] {
  padding: 5px;
  border: 1px solid #eeeeee;
  margin-bottom: 1em;
  outline: none;
  height: 32px; }

.indicator-table .table {
  border-bottom: 1px solid #eeeeee; }
.indicator-table .table > tbody > tr > td {
  border-top: 1px solid transparent;
  color: #4d749f;
  font-weight: bold;
  padding: 12px 15px; }

.esri-result-list {
  height: 220px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }

.esri-result-item {
  padding: 5px;
  border-right: 1px solid #dedede;
  display: inline-block; }

.layer-wrapper {
  width: 300px;
  float: left;
  height: 180px;
  overflow: hidden;
  padding: 0 0.5em 0 0;
  padding-left: 0;
  list-style: none;
  display: block; }

.thumbnail {
  width: 110px;
  margin-right: 1em; }

.layer-info {
  float: left;
  display: inline;
  white-space: normal;
  width: 150px; }

.title {
  color: #000000;
  font-size: 1.1em;
  line-height: 110%;
  margin-bottom: 0.5em;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.type {
  line-height: 98%;
  margin-bottom: 0.5em;
  color: #6b6b6b;
  font-size: 0.85em; }

.details {
  height: 70px;
  overflow: auto;
  width: 116%;
  color: #000000;
  margin-bottom: 7px; }
  .details.small {
    height: 20px;
    font-size: 0.95em; }

.add {
  overflow: hidden;
  margin-top: 1em; }

.btn, .btn-apply, button.layer-search,
.btn-primary {
  font-size: 0.8em;
  float: left;
  margin-left: 0; }

.layer-search-options ul {
  line-height: 130%; }

.seemore {
  float: right;
  font-size: 0.9em;
  padding-right: 0.4em; }

.layer-control h3 {
  float: left;
  margin-top: 0;
  margin-right: 10px;
  font-size: 12px;
  line-height: 23px;
  color: #4d749f; }
  .layer-control h3.color-control {
    width: 153px; }
    .layer-control h3.color-control.value-label {
      line-height: 14px; }
    .layer-control h3.color-control.percent-funding {
      line-height: 1px;
      float: none; }
.layer-control .ui-slider-pip {
  top: 30px;
  display: none; }
.layer-control .ui-slider-pip .ui-slider-label {
  top: -18px; }
.layer-control .title {
  font-size: 1em;
  color: #454545;
  margin-top: -22px;
  margin-left: 32px; }
.layer-control .slider-holder {
  position: relative;
  display: block;
  width: 245px;
  margin-top: 0;
  float: left; }
  .layer-control .slider-holder .slider {
    margin-left: 95px;
    margin-top: 7px; }
.layer-control .feature-checkbox {
  float: left;
  margin-top: -5px; }
.layer-control .updown {
  float: left;
  margin-right: 5px;
  width: 45px; }
.layer-control .toggler {
  clear: left; }
  .layer-control .toggler .toggler-title {
    float: left; }
  .layer-control .toggler .toggler-btn {
    width: 20px;
    float: left;
    padding-right: 100px; }
  .layer-control .toggler .updown {
    float: left;
    margin-right: 5px; }
  .layer-control .toggler .clear-fix {
    clear: both; }
  .layer-control .toggler .fa {
    color: #4d749f;
    margin-left: -10px; }
.layer-control .ui-state-default,
.layer-control .ui-widget-content .ui-state-default,
.layer-control .ui-widget-header .ui-state-default {
  background: #e9ba00;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  outline: none; }
  .layer-control .ui-state-default:hover,
  .layer-control .ui-widget-content .ui-state-default:hover,
  .layer-control .ui-widget-header .ui-state-default:hover {
    background: #98ca68; }
.layer-control .ui-slider-horizontal .ui-slider-handle {
  margin-top: 0.05em; }
.layer-control .ui-slider-horizontal {
  height: 0.8em;
  background: #ededed;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #ededed 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ededed), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ededed 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ededed 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ededed 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ededed 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 );
  /* IE6-8 */ }
.layer-control .ui-slider-label {
  color: #4d749f; }
.layer-control .fa.fa-times {
  position: absolute;
  top: 10px;
  right: 10px; }
.layer-control .fa.fa-arrow-down {
  margin-left: 0.5em; }
.layer-control .fa.fa-times,
.layer-control .fa.fa-arrow-down,
.layer-control .fa.fa-arrow-up {
  color: #4d749f; }
  .layer-control .fa.fa-times:hover,
  .layer-control .fa.fa-arrow-down:hover,
  .layer-control .fa.fa-arrow-up:hover {
    color: #98ca68; }
.layer-control ul {
  padding-left: 5; }
  .layer-control ul li {
    display: block;
    margin-bottom: 20px; }

.horizontal {
  float: left;
  margin-right: 10px;
  margin-top: 4px; }

.external-layer-control li {
  overflow: hidden;
  padding-top: 25px;
  margin-left: 12px;
  clear: both; }
  .external-layer-control li .slider-holder {
    margin-left: 0; }
  .external-layer-control li .control-wrapper.transparency {
    margin-left: 0; }
  .external-layer-control li .title {
    width: 90%;
    margin-left: -10px; }
    .external-layer-control li .title .control-title {
      font-size: 12px;
      margin: 0 0 0 1em;
      width: 100%; }
      .external-layer-control li .title .control-title .selectable, .external-layer-control li .title .control-title .selectable-radio, .external-layer-control li .title .control-title .selectable-disabled {
        float: left; }
.external-layer-control .control-wrapper {
  margin-top: -10px; }
  .external-layer-control .control-wrapper.transparency {
    clear: both;
    margin: 6px auto 0 2.7em; }

.arcgis-sig-in {
  position: absolute;
  top: 60px;
  right: 63px;
  z-index: 100;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  color: #787878;
  text-transform: uppercase;
  font-size: 0.9em;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }
  .arcgis-sig-in button {
    background: #eee;
    border: 1px solid #eee;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease; }
    .arcgis-sig-in button:hover {
      background: #ffffff;
      color: #2472c8; }
  .arcgis-sig-in .marker {
    border-radius: 100%;
    background-color: rgba(253, 154, 0, 0.8); }
    .arcgis-sig-in .marker .number {
      width: 100%;
      height: 100%;
      line-height: 100%;
      text-align: center; }
      .arcgis-sig-in .marker .number span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font: base-font-family; }

.language-btn {
  float: right;
  position: relative;
  border-left: 1px solid #a0cdff;
  margin-left: 1em; }
  .language-btn .dropdown-menu {
    background-color: black;
    border: none;
    min-width: 100px;
    margin: 4px 0 0 0;
    padding-bottom: 1em;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .language-btn .dropdown-menu li {
      background: none;
      border: none; }
      .language-btn .dropdown-menu li:hover {
        padding: 0; }
      .language-btn .dropdown-menu li a {
        color: #a0cdff;
        padding: 0.5em 0 0 1.2em;
        outline: none;
        font-size: 0.9em; }
        .language-btn .dropdown-menu li a:hover {
          background: none;
          color: #ffffff; }
  .language-btn .btn-input {
    display: block; }
  .language-btn .btn-input .btn.form-control, .language-btn .btn-input .form-control.btn-apply, .language-btn .btn-input button.form-control.layer-search,
  .language-btn .btn-input .form-control.btn-primary {
    text-align: left; }
  .language-btn .btn-input .btn.form-control span:first-child, .language-btn .btn-input .form-control.btn-apply span:first-child, .language-btn .btn-input button.form-control.layer-search span:first-child,
  .language-btn .btn-input .form-control.btn-primary span:first-child {
    left: 10px;
    overflow: hidden;
    position: absolute;
    right: 25px; }
  .language-btn .btn-input .btn.form-control .caret, .language-btn .btn-input .form-control.btn-apply .caret, .language-btn .btn-input button.form-control.layer-search .caret,
  .language-btn .btn-input .form-control.btn-primary .caret {
    margin-top: -1px;
    position: absolute;
    right: 10px;
    top: 50%; }
  .language-btn .btn-language-select {
    background: none;
    color: #a0cdff;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
    font-size: 1em;
    padding: 0;
    margin-left: 1em;
    outline: none; }
    .language-btn .btn-language-select:hover {
      color: #ffffff; }
    .language-btn .btn-language-select:focus {
      outline: none; }

.show-legends-button {
  background: #d2e5ee;
  border: 1px solid #ccc;
  padding: 1em 3em;
  text-transform: uppercase;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  outline: none;
  width: 250px;
  position: absolute;
  bottom: 0;
  color: #383838;
  font-size: 13px;
  font-weight: bold; }
  .show-legends-button:hover {
    background: #ffffff; }

.legends-container {
  width: 250px;
  background-color: #ffffff;
  position: absolute;
  bottom: 24px;
  right: 86px;
  padding: 0; }

.legends-content {
  width: 250px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #ffffff;
  position: absolute;
  bottom: 42px;
  left: 0;
  padding: 6px 6px 4px 6px;
  border: 1px solid #cccccc; }

.legend-group ul {
  list-style: none;
  padding-left: 0; }
.legend-group h2 {
  color: #454545;
  font-size: 1.2rem; }

.legend-group-title {
  cursor: pointer;
  color: #ffffff;
  background: #b9d4e1;
  padding: 0.66667em 0.5em;
  margin-bottom: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  position: relative; }
  .legend-group-title .fa {
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    left: 9px; }
    .legend-group-title .fa.fa-sort-asc {
      top: 14px; }
    .legend-group-title .fa.fa-sort-desc {
      top: 9px; }
  .legend-group-title span {
    padding-left: 0.5em;
    font-weight: 600;
    color: #3c5b7d;
    margin-left: 13px; }

.legends-list {
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px; }
  .legends-list ul {
    padding-left: 0.5em;
    list-style-type: none; }
    .legends-list ul li {
      color: #454545;
      font-size: 11px; }
      .legends-list ul li img {
        margin-right: 5px; }

.toggler {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background: #d7e0e4;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  padding: 0 0 5px 15px; }
  .toggler .control-title {
    width: 70%;
    margin: -22px auto 0 12px;
    cursor: pointer; }

.layer-control-toggle h3 {
  font-weight: bold;
  color: #4d749f;
  font-size: 13px;
  cursor: pointer; }

.selectable, .selectable-radio, .selectable-disabled {
  cursor: pointer; }

.toggler-button {
  background: #d7e0e4;
  padding: 5px 10px;
  margin-top: 3px;
  cursor: pointer; }
  .toggler-button:hover {
    background: #d4dee2; }

.layer-control-panel ul {
  padding-left: 0; }
  .layer-control-panel ul li {
    margin-bottom: 0; }

.control-wrapper {
  overflow: hidden; }
  .control-wrapper.transparency {
    width: 270px;
    float: left; }

.controls-items {
  display: block; }
  .controls-items li {
    display: block;
    float: left; }
    .controls-items li.levels {
      width: 330px;
      float: left;
      line-height: 15px; }
    .controls-items li.color-selection {
      width: 100%;
      float: left;
      margin-top: -12px; }

.color-selection {
  margin-top: 30px;
  margin-bottom: 20px; }

.breaksOptions {
  float: left;
  text-align: center;
  margin: -37px 0 10px 0;
  width: 55px;
  padding-top: 1em; }
  .breaksOptions input {
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    width: 54px;
    height: 16px;
    font-size: 11px;
    margin: -2px auto 10px -5px;
    outline: none;
    color: #888888;
    background: #e6edee;
    border: none;
    clear: both;
    text-align: center; }
    .breaksOptions input:hover {
      color: #4d749f;
      background: #ffffff;
      cursor: pointer; }
  .breaksOptions .label {
    text-align: center;
    margin-left: -5px;
    color: #000000;
    background: none;
    clear: both;
    padding: 0; }
    .breaksOptions .label.label-info, .breaksOptions .breaksTemplates .label.label-info-selected, .breaksTemplates .breaksOptions .label.label-info-selected {
      line-height: 30px; }
  .breaksOptions .input-group-addon {
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border: none;
    clear: both;
    display: block;
    margin: 0 auto 0 -2px; }
    .breaksOptions .input-group-addon i {
      width: 54px;
      margin-top: -3px; }

.colorpicker.colorpicker-with-alpha {
  width: 149px;
  margin-left: 39px; }

ul.funding-options {
  margin-left: 0;
  padding-left: 0;
  width: 550px;
  display: block;
  overflow: hidden; }
  ul.funding-options li {
    float: left;
    width: 268px;
    margin-bottom: 0; }
  ul.funding-options .selectable, ul.funding-options .selectable-radio, ul.funding-options .selectable-disabled {
    margin-right: 5px; }

.layer-option-section {
  display: block;
  overflow: hidden; }
  .layer-option-section h3 {
    border: 1px solid transparent; }

.funding-types {
  float: left;
  width: 70%;
  margin-bottom: 0.5em;
  margin-top: 3px; }
  .funding-types li {
    float: left;
    margin-right: 12px; }

.funding-type-option {
  width: 31%;
  float: left; }

.vbuffer {
  height: 20px;
  clear: both;
  width: 100%; }

.breaksTemplates {
  overflow: hidden; }
  .breaksTemplates .label {
    float: left;
    width: 50px;
    margin-top: 7px; }
    .breaksTemplates .label.label-info, .breaksTemplates .label.label-info-selected {
      background: transparent;
      color: #4d749f;
      margin-top: 5px;
      border-right: 1px solid #454545;
      padding-right: 15px;
      margin-right: 10px;
      text-align: left;
      border-radius: 0;
      width: auto;
      cursor: pointer;
      font-size: 11px;
      line-height: 10px;
      height: 13px; }
      .breaksTemplates .label.label-info:last-child, .breaksTemplates .label.label-info-selected:last-child {
        border-right: none; }
      .breaksTemplates .label.label-info:hover, .breaksTemplates .label.label-info-selected:hover {
        color: #000000; }
    .breaksTemplates .label.label-info-selected {
      color: #000000; }
  .breaksTemplates .colorpicker-element {
    width: 54px;
    float: left;
    margin-bottom: 2em;
    margin-top: -5px; }
    .breaksTemplates .colorpicker-element .input-group-addon {
      background-color: transparent;
      border: none;
      padding: 0; }
      .breaksTemplates .colorpicker-element .input-group-addon i {
        width: 53px;
        margin-top: 10px; }

.selected-indicator {
  margin-top: 1em; }
  .selected-indicator h3 {
    line-height: 15px; }

.save-map-trigger {
  display: inline; }

.modal-header {
  padding-bottom: 2.7em; }
  .modal-header .fa.fa-folder-open {
    margin-right: 0.5em; }
  .modal-header .fa.fa-arrows-h {
    margin-right: 0.5em; }

.modal-body {
  padding: 0; }
  .modal-body .form-control {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    outline: none;
    margin-bottom: 1em;
    border: 1px solid #eeeeee;
    width: 100%; }
    .modal-body .form-control:last-child {
      margin-bottom: 0; }

h4.modal-title {
  margin: 0;
  padding: 0;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #4d749f;
  margin-bottom: 0.5em; }

.close-dialog {
  float: right; }
  .close-dialog .fa.fa-times-circle-o {
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
    color: #98ca68;
    font-size: 20px; }
    .close-dialog .fa.fa-times-circle-o:hover {
      color: #454545; }

.blue-panel {
  background: #e1e8f0;
  padding: 1.5em; }

.plain-panel {
  padding: 20px; }
  .plain-panel h4 {
    margin-bottom: 1em; }

.modal-footer {
  border-top: none;
  padding: 0 1.7em 1.7em 0; }
  .modal-footer button {
    margin-left: 1em; }

.saved-maps {
  padding: 1em; }
  .saved-maps ul {
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-bottom: 1em; }
  .saved-maps h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #4d749f;
    margin-top: 1em; }
  .saved-maps .panel {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-color: transparent; }
    .saved-maps .panel.panel-default {
      border-color: transparent; }
    .saved-maps .panel .panel-body {
      padding: 0 0 0.5em 0;
      font-size: 12px;
      color: #4d749f; }
    .saved-maps .panel .pagination li a {
      background-color: #4d749f; }
    .saved-maps .panel .pagination li.active a {
      background-color: #98ca68; }
    .saved-maps .panel h5 {
      color: #4d749f; }

.save-map-actions {
  margin-top: 1em; }
  .save-map-actions .fa {
    margin-left: 0.66667em;
    font-size: 14px; }

.saved-map-list {
  background: #d7e0e4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  margin-top: 1em; }
  .saved-map-list h4 {
    font-weight: bold;
    font-size: 13px; }
  .saved-map-list .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0.5em; }

.dialog-print-map .modal-body {
  padding: 20px; }

.pagination > a {
  border-color: #eeeeee;
  color: #000000; }
  .pagination > a:hover {
    background-color: #659735; }

.pagination > .active > a,
.pagination > .active > a:focus {
  color: #000000;
  background-color: #98ca68;
  border-color: #eeeeee; }
  .pagination > .active > a:hover,
  .pagination > .active > a:focus:hover {
    background-color: #659735;
    border-color: #eeeeee; }

.non-btn-action {
  color: #72aa3c;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: color 600ms ease;
  -moz-transition: color 600ms ease;
  -o-transition: color 600ms ease;
  transition: color 600ms ease;
  font-size: 12px;
  margin-right: 2.5em;
  margin-top: 0.41667em;
  cursor: pointer; }
  .non-btn-action:hover {
    color: #58842e; }
  .non-btn-action .fa {
    margin-right: 0.5em; }

.label-tag {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background: #8ba8c7;
  color: #ffffff;
  margin-right: 0.5em;
  padding: 0.16667em 0.5em;
  font-size: 11px; }

.export-activity-nav {
  padding-top: 1em; }
  .export-activity-nav ul.activities {
    margin-left: 3em; }
    .export-activity-nav ul.activities li a {
      background: rgba(242, 246, 247, 0.6);
      text-transform: uppercase;
      padding: 1em 2em;
      border: 1px solid transparent;
      background: #eeeeee;
      color: #ffffff; }
    .export-activity-nav ul.activities li.active a {
      background: rgba(242, 246, 247, 0.6);
      color: #4d749f; }
  .export-activity-nav .tab-content {
    min-height: 150px;
    width: 100%;
    padding: 2em 3em 1em 3em; }

.export-selection-wrapper {
  background: #ffffff;
  padding-bottom: 2em;
  margin-bottom: 1.5em;
  border: 1px solid #eeeeee; }
  .export-selection-wrapper .horizontal {
    line-height: 13px; }

.adjacent-buttons button {
  margin-left: 1em; }

/*add here all styles used during development later they will be replaced by the final ones */
.selectable-radio, .selectable, .selectable-disabled {
  border-radius: 0% !important;
  background-clip: none;
  font-size: 1.5em !important;
  width: 5px;
  height: 5px;
  border: 1px solid #cccccc;
  background: #ffffff;
  float: left;
  margin-right: 0.2em;
  margin-top: 1px;
  width: 13px;
  height: 13px; }
  .selectable-radio .fa, .selectable .fa, .selectable-disabled .fa {
    font-size: 0.7em;
    margin-left: 2px;
    margin-top: -2px;
    float: left; }

.horizontal {
  float: left;
  margin-right: 10px;
  margin-top: 4px; }

.leaflet-popup-pane {
  z-index: 10000; }

.iframe-content {
  border: 0px;
  width: 100%;
  height: 98%; }

.chart-container {
  border: 0px;
  width: 95%;
  height: 95%; }

.fundingByType-title {
  color: #4278AA;
  font-size: 14px; }

.clearFix {
  float: none;
  width: 100%;
  clear: both; }

.loading-container {
  position: absolute;
  bottom: 50%;
  right: 45%;
  border: 0px solid; }
  .loading-container img {
    position: relative;
    z-index: 10001 !important; }

.popup-loading-container {
  height: 240px;
  padding-left: 175px;
  padding-top: 80px; }

.finder p.title {
  margin-top: 6px;
  font-weight: bold; }
.finder ul {
  list-style: none;
  float: left;
  margin: 0px;
  padding: 0px; }
  .finder ul li {
    margin-left: 10px;
    float: left; }
.finder table {
  margin-top: 10px; }
  .finder table tr td {
    white-space: nowrap; }
  .finder table tr td.description {
    white-space: normal; }

.timeSliderContainer {
  font-size: 9px;
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  z-index: 100; }
  .timeSliderContainer .sliderTooltip {
    display: block;
    color: #FFF;
    position: absolute;
    font-size: 9px;
    background-color: #8D2F5D;
    border: 1px solid #EEE;
    border-radius: 3px;
    top: -30px;
    padding: 5px;
    left: -9px;
    text-align: center;
    width: 60px;
    z-index: 1500; }
  .timeSliderContainer .noUi-value, .timeSliderContainer .noUi-marker {
    font-size: 10px; }

#imageGalery {
  position: absolute;
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin: auto;
  left: 0;
  right: 0;
  width: 50%; }

.pdf h1 {
  color: #4d749f;
  font-size: 16pt; }
.pdf .description {
  font-size: 14pt;
  margin-top: 10pt;
  margin-bottom: 10pt; }
.pdf .filters {
  font-size: 8pt; }
.pdf #map {
  display: block;
  overflow: hidden; }
.pdf .map {
  padding: 15px;
  border: 10px solid #EEE;
  position: relative !important;
  width: 100%;
  height: 780px; }
.pdf .leaflet-control-container {
  display: none; }
.pdf .legend {
  width: 48%;
  margin-left: 5px;
  margin-top: 10pt;
  float: left;
  height: 100px; }
  .pdf .legend .title {
    font-size: 11pt !important;
    font-weight: bold; }
  .pdf .legend ul.group {
    margin-bottom: 20px;
    list-style: none;
    margin-left: 0px;
    clear: both;
    padding: 0px;
    margin: 0px; }
    .pdf .legend ul.group div.title {
      font-size: 8pt !important;
      clear: both; }
    .pdf .legend ul.group li {
      padding: 0px;
      margin: 0px; }
  .pdf .legend ul.items {
    list-style: none;
    margin-left: 0px;
    max-height: 400px;
    padding: 0px;
    margin: 0px;
    clear: both; }
    .pdf .legend ul.items li {
      float: left;
      width: 100px; }
.pdf .number {
  vertical-align: middle; }

/*# sourceMappingURL=main.css.map */
