@media screen {


	#sidebar-wrapper,.map-header,.arcgis-sig-in,.legends-container,.print-btn{
		display: none;
	}

	
	.leaflet-container{
		overflow: visible !important; 
		} ,

		.map {
		
			top: 400px !important;
			}

		#map-container {
			background: $white;
		}
	}