// responsive
$breakTablets: 786px;
$breakPhones: 767px;
@media only screen and (min-device-width : $breakTablets) and (max-device-width : 1024px) {
  /*tablets*/
  h2 {
    margin-left: 0;
  }
}
@media only screen and (max-width:$breakPhones) {
  /* phones */
  h1,
  h2 {
    padding-left: $gutter;
    font-size: 1rem;
  }
  h2 {
    margin-left: 0;
  }
}
@media only screen and (max-width:$breakPhones) and (orientation: portrait) {
  /* portrait phones */
  h1,
  h2 {
    width: 100%;
  }
  h2 {
    margin-left: 0;
    margin-top: 0;
  }
  .header-nav {
    margin-bottom: $gutter;
  }
}
